﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <title>Avis SBAIR - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Core.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Content/Themes/blitzer/jquery-ui-1.8.10.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/autoNumeric-1.7.4.js")" type="text/javascript"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    @RenderSection("HtmlHeadContent")
</head>
<body>

    <script type="text/javascript">

        $(function () {
            $("#search ul li button").button({ icons: { primary: 'ui-icon-search'} });
        });

        // .hasAttr('') function. Used to determine if an attribute exists on an element.
        $.fn.hasAttr = function (attr) { var attribVal = this.attr(attr); return (attribVal !== undefined) && (attribVal !== false); };


        $(document).ready(function () {

            $("#workshops").change(function () {

                switch ($(this).val()) {
                    case "1":
                        window.open('http://novmshp01/Departments/Operation/opase/Station%20och%20kontorshandbok/11%20Försäkringshyror/11.01%20Rutiner%20för%20försäkringshyror/11.01.09%20A%20Manual%20till%20Verkstadswebben%20IF%20Skadeförsäkring.doc');
                        break;
                    case "2":
                        window.open('http://novmshp01/Departments/Operation/opase/Station%20och%20kontorshandbok/11%20Försäkringshyror/11.01%20Rutiner%20för%20försäkringshyror/11.01.09%20B%20Manual%20till%20Verkstadswebben%20Länsförsäkringar.doc');
                        break;
                    case "3":
                        window.open('http://novmshp01/Departments/Operation/opase/Station%20och%20kontorshandbok/11%20Försäkringshyror/11.01%20Rutiner%20för%20försäkringshyror/11.01.09%20C%20Manual%20till%20Verkstadswebben%20Trygghansa.doc');
                        break;
                    case "4":
                        window.open('http://novmshp01/Departments/Operation/opase/Station%20och%20kontorshandbok/11%20Försäkringshyror/11.01%20Rutiner%20för%20försäkringshyror/11.01.09%20D%20Manual%20för%20Partnersidan%20Aktsam.doc');
                        break;
                    case "5":
                        window.open('http://novmshp01/Departments/Operation/opase/Station%20och%20kontorshandbok/11%20Försäkringshyror/11.01%20Rutiner%20för%20försäkringshyror/11.01.09%20E%20Manual%20till%20Verkstadswebben%20Folksam.doc');
                        break;
                    case "6":
                        window.open('http://novmshp01/Departments/Operation/opase/Station%20och%20kontorshandbok/11%20Försäkringshyror/11.01%20Rutiner%20för%20försäkringshyror/11.01.10%20LeasePlan.doc');
                        break;
                }
            });

            $("#cboHistoric").change(function () {

                var url = '@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"])listing/edit/' + $(this).val() + '?rec=' + $(this).val() + '&type=pending&return=%2Flisting%3Ftab%3D3';
                window.location.href = url;

            });

        });

        

    </script>

    <div id="container">

        <div id="content">

            <div id="header">

                <div id="logo">
                    <a href="@Url.Action("Index", "Home", new { Area = "" })" class="navigationButton">
                        <img src="@Url.Content("~/Content/Images/logo.png")" alt="AVIS" width="100" height="35" />
                    </a>
                </div>
            
                <div id="vline">
                    <img src="@Url.Content("~/Content/Images/vl.png")"  width="4" height="52" alt="Avis" />
                </div>

                <div id="menuContainer">
                    
                    <div id="dynamicHeaderItems">
                     
                       
                         <div id="rhsHeader">
                           
                             <div id="rhsContainer">
                                 
                                 @{
                                     if (Request.RawUrl.ToLower().Contains("/listing/edit"))
                                     {
                                         <select id="workshops" style="float: left; margin-top: 30px;" >
                                             <option value="0">Länk till försäkringbolagen</option>
                                             <option value="1">IF</option>
                                             <option value="2">Lândsforsâkringar</option>
                                             <option value="3">TrygHansa</option>
                                             <option value="4">Aktsam</option>
                                             <option value="5">Folksam</option>
                                             <option value="6">Leaseplan</option>
                                         </select>
                                     }
                                 }
                                 <div id="loginDisplay">
                                   
                                 </div>
                                
                                     
                                 <div id="maintenanceLinkBackground" class="ui-corner-tl">
                                    
                                     <p><a href="@(System.Configuration.ConfigurationManager.AppSettings["SiteURL"].ToString() + "SBairHelpFile.pdf")" style="border: 1px solid white; padding: 3px 10px 3px 10px;" target="_blank" title="Help - opens in a new window"><strong>Help</strong></a>
                                        
                                     </p>
                                     @{if (Request.RawUrl.ToLower().Contains("/listing/edit"))
                                       {
                                          
                                          
                                          
                                           <a href="@ViewBag.Return" title="Return to Listing Page" class = "navigationButton">Return to Listing page</a>
                                           <!-- @Html.ActionLink("Return to Listing page", "index", "listing", new { tab = "0" }, new { @class = "navigationButton" })-->

                                
                                       }
                                   
                                     }
                                 </div>
                             </div>
                        </div>

                    </div>

                    <div id="fixedHeaderItems">                    
                
                              

                    </div>

                    <div id="title">
                        SBAIR
                    </div>

                </div>                                                         

            </div>

            <div id="main">                

                @RenderBody()

            </div>
            
            <div id="footer">

                <div>
                    <img src="@Url.Content("~/Content/Images/logo2.png")" alt="AVIS" width="66" height="69" />
                </div>

            </div>

        </div>

    </div>

    <div id="dirtyDataDialog" title="Continue without Saving?" style="display: none;">
	    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You have made changes, but have not saved the data. Are you sure you want to continue without saving?</p>
    </div>

    <div id="dialog" title="Confirm Delete?" style="display: none;">
	    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This action can not be undone. Are you sure you want to delete this item?</p>
    </div>

</body>
</html>
