﻿@model avis.sbair.Entities.InvoiceViewModel


@if (Model.SearchResult != null)
                   {
                       foreach (var documentStoreSearchResult in Model.SearchResult.DocumentStoreSearchResults)
                       {

                           foreach (var item in documentStoreSearchResult.Documents)
                           {
                               // get metadata
                               var sbMeta = new System.Text.StringBuilder();
                               sbMeta.Append("<ul>");
                               foreach (var metaDataItem in item.DocumentMetaData)
                               {
                                   sbMeta.AppendFormat("<li>{0}={1}</li>", metaDataItem.Item1, metaDataItem.Item2);
                               }
                               sbMeta.Append("</ul>");


                               <table style="float: left;"  class="imageRow">
                                   <tr class="set">
                                       @for (int i = 0; i < item.Elements.Count(); i++)
                                       {
                                           var element = item.Elements[i];

                                           <td class="single">
                                               <div>
                                                   @{
                                                       var target = "";
                                                       if (element.DocumentUrl.Substring(element.DocumentUrl.Length - 4, 4) == ".tif")
                                                       {
                                                           target = "";
                                                       }
                                                       else
                                                       {
                                                           target = " target='_blank' ";
                                                       }
                                                   }
                                                   <a @target href="@element.DocumentUrl" title="@Html.Raw(sbMeta.ToString())">
                                                       <img src="@element.DocumentThumbnailUrl" alt="Image 1 0f @item.Elements.Count() thumb" />
                                                   </a>
                                               </div>
                                           </td>


                                       }
                                   </tr>
                                   <tr>
                                       <td colspan="@item.Elements.Count()">
                                           @if (!string.IsNullOrWhiteSpace(item.DescriptionUrl))
                                           {
                                               <a title="View in app" href="@item.DescriptionUrl" target="_blank">@item.Description</a>
                                           }
                                           else
                                           {
                                               @item.Description
                                           }
                                       </td>

                                   </tr>
                               </table>
                           }

                       }
                   }


                

