﻿@if(Request.IsAuthenticated) {
    <text>Welcome <b>@if (Context.User.Identity.Name.Contains('\\')) { @Context.User.Identity.Name.Substring(Context.User.Identity.Name.IndexOf('\\') + 1); } else { @Context.User.Identity.Name ; }</b></text>
}