﻿@model Data.IPagedList
@using Web;

@if (!this.Model.IsFirstPage)
{
    <span>@Html.ActionLink("Previous", this.Request.RequestContext.RouteData.Values["action"].ToString(), this.Request.RequestContext.RouteData.Values.ToPagedRouteValues(this.Model.PageNumber - 1, this.Model.ItemsPerPage), new Dictionary<string, object> { { "class", "pageLink"} })</span>    
}

@for (var i = 1; i <= this.Model.MaxNumberPages; i++)
{
    if (i == this.Model.PageNumber)
    {
        <span class="pageLink">@i</span>
    }
    else
    {
        <span>@Html.ActionLink(i.ToString(), this.Request.RequestContext.RouteData.Values["action"].ToString(), this.Request.RequestContext.RouteData.Values.ToPagedRouteValues(i, this.Model.ItemsPerPage), new Dictionary<string, object> { { "class", "pageLink" } })</span>    
    }
}

@if (!this.Model.IsLastPage && this.Model.PageNumber < this.Model.MaxNumberPages)
{
    <span>@Html.ActionLink("Next", this.Request.RequestContext.RouteData.Values["action"].ToString(), this.Request.RequestContext.RouteData.Values.ToPagedRouteValues(this.Model.PageNumber + 1, this.Model.ItemsPerPage), new Dictionary<string, object> { { "class", "pageLink" } })</span>    
}