﻿@model avis.sbair.Entities.SplitBilling

@{
    var m = Model;
    
    }

<script src="../../Scripts/jquery.meio.mask.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.blockUI.js")" type="text/javascript"></script>
<script type="text/javascript">

    var region = '@ViewBag.Region';
    var editable = '@ViewBag.Editable';
    var noSave = '@ViewBag.NoSave';
    
</script>
<div style="width:91%; text-align:right;"><span style="font-size:large; color:Red;">*</span> = Action Required</div>

<fieldset style="width:91%"><legend>Customer / Insurance Billing Splits</legend>

@Html.HiddenFor(model => model.RentalMileageRateAmount)
@Html.HiddenFor(model => model.RentalDailyRateAmount)
@Html.HiddenFor(model => model.RentalWeeklyRateAmount)
@Html.HiddenFor(model => model.RentalMonthlyRateAmount)
@Html.HiddenFor(model => model.RentalCheckinLocationText)
@Html.HiddenFor(model => model.RentalCheckoutLocationText)
@Html.HiddenFor(model => model.RentalCheckoutDateTime)
@Html.HiddenFor(model => model.RentalCheckinDateTime)
@Html.HiddenFor(model => model.RentalCDWPerDayAmount)
@Html.HiddenFor(model => model.RentalALIPerDayAmount)
@Html.HiddenFor(model => model.RentalPAIPerDayAmount)
@Html.HiddenFor(model => model.RentalId)
@Html.HiddenFor(model => model.InvoiceFeeTotal)
@Html.HiddenFor(model => model.InvoiceFeeCustomerPays)

<table width="100%">
<tr>
<td colspan="3">

                                <div class="editor-label">
                                    <span style="font-size: large; color: Red;">*</span> @Html.LabelFor(model => model.RentalCheckinDateTime, "Check in") 
                                </div>
                                <div class="editor-field-wide">
                                    @Html.TextBox("checkInDateDate", this.Model.RentalCheckinDateTime.Value.ToShortDateString(), new { style = "width:70px; margin-top:6px;", rhs = "true" })
                                    &nbsp;@@&nbsp;
                                    @Html.TextBox("checkInDateTime", this.Model.RentalCheckinDateTime.Value.ToShortTimeString(), new { style = "width:40px;", rhs = "true" })
                                     Days:<label id="NumDaysRental"></label>
                                    @Html.ValidationMessageFor(model => model.RentalCheckinDateTime)
                                    <br />
                                    <span id="daysoverride" style="display:none;">&nbsp;(Nytt totalpris dygn<img src="../../Content/Images/Question_mark.png"
                                        alt="Fyll i periodpris för hela hyran om annan ratekod än originalhyran exklusive moms" title="Fyll i periodpris för hela hyran om annan ratekod än originalhyran exklusive moms" />: @Html.TextBoxFor(model => model.OverrideDaysAmount, new { style = "width:70px;", rhs = "true", @compare = "true" }))
                                    </span>
                                </div>

                                <div class="editor-label">
                                    <span style="font-size: large; color: Red;">*</span> @Html.LabelFor(model => model.KMCheckin, "Kilometers at Check in")
                                </div>
                                <div class="editor-field-wide">
                                    @Html.TextBoxFor(model => model.KMCheckin, new { style = "width:70px; margin-top:6px;", @class = "SBText", rhs = "true", @compare = "true" })
                                    KM:<label id="NumKMDriven"></label>
                                    @Html.ValidationMessageFor(model => model.KMCheckin)<br />
                                    <span id="kmoverride" style="display: none;">&nbsp;(Nytt totalpris km 
                                        <img src="../../Content/Images/Question_mark.png" alt="Fyll i kilometerpris för hela hyran om annan ratekod än originalhyran exklusive moms"
                                            title="Fyll i kilometerpris för hela hyran om annan ratekod än originalhyran exklusive moms" />: @Html.TextBoxFor(model => model.OverrideKMAmount, new { style = "width:70px;", rhs = "true", @compare = "true" }))       </span>
                                </div>


                                <div class="editor-label">
                                    @Html.LabelFor(model => model.KmCoveredByInsurance, "KM Covered by Insurance")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.KmCoveredByInsurance, new { style = "width:70px;", @class = "SBDisabledText", @readonly = "readonly", rhs = "true", @compare = "true" })
                                    @Html.ValidationMessageFor(model => model.KmCoveredByInsurance)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.DaysCoveredByInsurance, "Days Covered by Insurance")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.DaysCoveredByInsurance, new { style = "width:70px;", @class = "SBDisabledText", @readonly = "readonly", rhs = "true", @compare = "true" })
                                    @Html.ValidationMessageFor(model => model.DaysCoveredByInsurance)
                                    
                                </div>
                                 <div class="editor-label">
                                    @Html.LabelFor(model => model.AmountCoveredByInsurance, "Amount Covered by Insurance")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.AmountCoveredByInsurance, new { style = "width:70px;", @class = "SBDisabledText", @readonly = "readonly", rhs = "true", @compare = "true" })
                                    @Html.ValidationMessageFor(model => model.AmountCoveredByInsurance)
                                     <br />  <br /> 
                                </div>
                                

<table width="100%">
<tr style="font-weight:bold; text-decoration:underline;"><td width="40%"></td><td width="15%">Total</td><td width="15%">Customer Pays</td><td width="15%">Insurance Pays</td><td width="15%" style="display: @ViewBag.WZD;">WZD Amt</td></tr>

<tr class="gridrow">
	<td colspan="4">
        <span style="font-size: large; color: Red;">*</span><b>Price Split</b>&nbsp;<img src="../../Content/Images/Question_mark.png" alt="The overall price split." title="The overall price split." />
		@Html.Raw(ViewBag.PriceSplits)
	</td>
</tr>



<tr style="vertical-align:bottom;" class="gridrow">
<td style="background-color:white;"></td><td>@Html.TextBoxFor(model => model.PriceSplitTotal, new { @class = "SBDisabledText", @readonly = "readonly", @compare="true" })</td><td>@Html.TextBoxFor(model => model.PriceSplitCustomerPays, new { @readonly = "readonly", @class = "SBDisabledText", @style = "border: none;", @compare="true" })</td><td><label id="PriceSplit_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="PriceSplit_WizrdAmount">@Decimal.Round((decimal)(Model.NetTimeDistanceAmount == null ? 0 : Model.NetTimeDistanceAmount), 2)</label></td>
</tr>

<tr class="gridrow">
	<td colspan="4">
        <span style="font-size: large; color: Red;">*</span><b>VAT Split</b>&nbsp;
		<img src="../../Content/Images/Question_mark.png" alt="The overall VAT split." title="The overall VAT split." />
		@Html.Raw(ViewBag.VATSplits)
	</td>
</tr>

<tr style="vertical-align:bottom;">
<td style="font-weight:bold;"></td><td>@Html.TextBoxFor(model => model.VATTotal, new { @class = "SBDisabledText", @readonly = "readonly", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.VATCustomerPays, new { @readonly = "readonly", @class = "SBDisabledText", @style = "border: none; background-color:white;", @compare = "true" })</td><td><label id="VATSplit_InsurancePays"></label></td><td style="display: @ViewBag.WZD;"  valign="bottom"><label id="VATSplit_WizrdAmount" compare="true">@Decimal.Round(Model.RentalVATAmount, 2)</label></td></tr>

    <tr style="height:50px; vertical-align:bottom;"  class="gridrow">
        <td style="font-weight:bold;">Super CDW<br />@Html.DropDownListFor(model => model.CDWSplit, (IEnumerable<SelectListItem>)ViewBag.CDWSplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.SuperCDWTotal, new { @class = "SBText", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.SuperCDWCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;", @compare = "true" })</td><td><label id="SuperCDW_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;"  valign="bottom"><label id="SuperCDWSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalCDWAmount == null ? 0 : Model.RentalCDWAmount), 2)</label></td>
    </tr>
    
    <tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Super TP<br />@Html.DropDownListFor(model => model.SuperTPSplit, (IEnumerable<SelectListItem>)ViewBag.CDWSplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.SuperTPTotal, new { @class = "SBText", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.SuperTPCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;", @compare = "true" })</td><td><label id="SuperTP_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;"  valign="bottom"><label id="SuperTPSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalTPAmount == null ? 0 : Model.RentalTPAmount), 2)</label></td>
</tr>

    <tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">PAI<br />@Html.DropDownListFor(model => model.RAISplit, (IEnumerable<SelectListItem>)ViewBag.RAISplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.RAITotal, new { @class = "SBText", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.RAICustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;", @compare = "true" })</td><td><label id="RAI_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="RAISplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalPAIAmount == null ? 0 : Model.RentalPAIAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Airport Fee<br />@Html.DropDownListFor(model => model.AirportFeeSplit, (IEnumerable<SelectListItem>)ViewBag.AirportSplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.AirportFeeTotal, new { @class = "SBText", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.AirportFeeCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;", @compare = "true" })</td><td><label id="AirportFee_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="AirportFeeSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalSurchargeAmount == null ? 0 : Model.RentalSurchargeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">One Way Fee<br />@Html.DropDownListFor(model => model.OneWayFeeSplit, (IEnumerable<SelectListItem>)ViewBag.OneWaySplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.OneWayTotal, new { @class = "SBText", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.OneWayCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;", @compare = "true" })</td><td><label id="OneWayFee_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="OneWayFeeSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalOneWayFeeAmount == null ? 0 : Model.RentalOneWayFeeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Gas charges<br />@Html.DropDownListFor(model => model.RefuelingSplit, (IEnumerable<SelectListItem>)ViewBag.RefuellingSplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.RefuellingTotal, new { @class = "SBText", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.RefuellingCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;", @compare = "true" })</td><td><label id="RefuellingFee_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="RefuellingFeeSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalGasChargesAmount == null ? 0 : Model.RentalGasChargesAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">Delivery Fee<br />@Html.DropDownListFor(model => model.DeliveryFeeSplit, (IEnumerable<SelectListItem>)ViewBag.DeliverySplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.DeliveryTotal, new { @class = "SBText", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.DeliveryCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;", @compare = "true" })</td><td><label id="DeliveryFee_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="DeliveryFeeSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalDeliveryChargeAmount == null ? 0 : Model.RentalDeliveryChargeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Return Fee<br />@Html.DropDownListFor(model => model.ReturnFeeSplit, (IEnumerable<SelectListItem>)ViewBag.ReturnSplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.ReturnTotal, new { @class = "SBText", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.ReturnCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;", @compare = "true" })</td><td><label id="ReturnFee_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;"><label id="ReturnFeeSplit_WizrdAmount" valign="bottom">@Decimal.Round((decimal)(Model.RentalCollectionChargeAmount == null ? 0 : Model.RentalCollectionChargeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">VRF<br />@Html.DropDownListFor(model => model.VRFSplit, (IEnumerable<SelectListItem>)ViewBag.VRFSplits, new { style = "margin-top:5px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.VRFTotal, new { @class = "SBText", rhsx = "true", @readonly = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.VRFCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;", @compare = "true" })</td><td><label id="VRFFee_InsurancePays" compare="true"></label></td><td style="display: @ViewBag.WZD;"><label id="VRFFeeSplit_WizrdAmount" valign="bottom">@Decimal.Round((decimal)(Model.RentalContractFeeAmount == null ? 0 : Model.RentalContractFeeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Other Misc Fees<br /><span style="font-size:80%;">(enter details in the box)</span><br />
@Html.TextBoxFor(model => model.MiscCostRemarks, new { @class = "SBText", @style = "width:180px;", rhs = "true", @compare = "true" })<br />
@Html.DropDownList("cboMiscCode", (IEnumerable<SelectListItem>)ViewBag.MiscCodes, new { style = "width: 170px;", @compare="true" })
<!--<select id="cboMiscCode" name="cboMiscCode" style="width: 170px;">
        <option value=""></option>
        <option value="A">(A)ADMINISTRATIONSAVGIFT</option>
        <option value="B">(B)REP.KOSTNADER BILSKADOR</option>
        <option value="C">(C)VINTERUTRUSTNING</option>
        <option value="D">(D)EXTRA FÖRARE</option>
        <option value="E">(E)GRÖNT KORT FÖRSÄKRING</option>
        <option value="F">(F)P-BOT</option>
        <option value="G">(G)PARKERINGSAVGIFT</option>
        <option value="H">(H)GPS</option>
        <option value="I">(I)PAI / SUPER PAI</option>
        <option value="J">(J)HYDRALISK RAMP</option>
        <option value="K">(K)EXTRA NYCKLAR</option>
        <option value="L">(L)ÖVRIGT</option>
        <option value="M">(M)EXTRA STADNING</option>
        <option value="N">(N)CROSSBORDER CHARGE</option>
        <option value="O">(O)COMBINATION</option>
        <option value="P">(P)HYRA MOBILTELEFON</option>
        <option value="Q">(Q)VAGAVGIFT</option>
        <option value="R">(R)TAKBOX/SKIDSTALL/LASTGALLER</option>
        <option value="S">(S)BARNSTOL/BARNKUDDE</option>
        <option value="T">(T)DACK/HJULSKADOR</option>
        <option value="U">(U)FORARE UNDER 25 AR</option>
        <option value="V">(V)MOTOR/KUPEVARMARE</option>
        <option value="W">(W)BÄRGNING</option>
        <option value="X">(X)TANKNINGSAVGIFT</option>
        <option value="Y">(Y)VAGTULL/TRANGSELSKATT</option>
        <option value="Z">(Z)EFTER KONTORSTID</option>
    </select>-->
    
<br />
<!--Html.DropDownListFor(model => model.MiscCostsSplit, (IEnumerable<SelectListItem>)ViewBag.MiscSplits, new { style = "margin-top:5px;", rhs = "true", compare="true" })--></td><td><!--Html.TextBoxFor(model => model.MiscCostsTotal, new { class = "SBText", rhs = "true", compare="true" })--><label id="MiscCostsTotal" compare="true"></td><td>@Html.TextBoxFor(model => model.MiscCostsCustomerPays, new { @class = "SBText", rhs = "true", @compare="true" })</td><td>@Html.TextBoxFor(model => model.MiscCostsInsurancePays, new { @class = "SBText", rhs = "true", @compare="true" })</label></td><td style="display: @ViewBag.WZD;"><label id="MiscCostsSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalMiscChargeAmount == null ? 0 : Model.RentalMiscChargeAmount), 2)</label></td>
</tr>


<tr style="height:50px; vertical-align:bottom; display:none;">
<td style="font-weight:bold;">Självrisk vid vagnskada/stöld?<br />@Html.DropDownListFor(model => model.OtherFeeSplit, (IEnumerable<SelectListItem>)ViewBag.OtherSplits, new { style = "margin-top:5px;", rhs = "true", @compare="true" })</td><td>@Html.TextBoxFor(model => model.OtherFeeTotal, new { @class = "SBText", rhs = "true", @compare="true" })</td><td>@Html.TextBoxFor(model => model.OtherFeeCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;", @compare="true" })</td><td><label id="OtherCosts_InsurancePays"></label></td><td style="display: @ViewBag.WZD;"><label id="OtherCostsSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalOtherCosts == null ? 0 : Model.RentalOtherCosts), 2)</label></td>
</tr>

<!--<tr style="height:50px;"  class="gridrow">
<td style="font-weight:bold;">Invoice Fee
</td><td><label id="InvFee">@Decimal.Round((decimal)Model.InvoiceFeeTotal, 2)</label></td><td><label id="PaymentMethod_CustomerPays">@Model.InvoiceFeeCustomerPays</label></td><td></td><td style="display: @ViewBag.WZD;"></td>
</tr>-->

<tr style="height:50px;">
<td style="font-weight:bold;">On the road expense<br />

@Html.DropDownList("cboExpenseCode", (IEnumerable<SelectListItem>)ViewBag.ExpenseCodes, new { style = "width: 170px;", @compare = "true" })

</td><td></td><td>@Html.TextBoxFor(model => model.AlreadyPaidByCustomerAmount, new { style = "width:60px;", rhs = "true", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.AlreadyPaidByInsuranceAmount, new { style = "width:60px;", rhs = "true", @compare = "true" })</td><td style="display: @ViewBag.WZD;"><!--<label id="AlreadyPaid_WizrdAmount" valign="bottom">@Decimal.Round((decimal)(Model.AlreadyPaidByCustomerAmount + Model.AlreadyPaidByInsuranceAmount), 2)</label>--></td>
</tr>

<tr style="height:50px; font-weight:bold;" class="gridrow">
<td>Totals</td><td><label id="GrandTotal" compare="true"></label></td><td>@Html.TextBoxFor(model => model.InvoiceAmountCustomer, new { @class = "SBDisabledText", @readonly = "readonly", @compare = "true" })</td><td>@Html.TextBoxFor(model => model.InvoiceAmountInsurance, new { @class = "SBDisabledText", @readonly = "readonly", @compare = "true" })</td><td style="display: @ViewBag.WZD;"></td>
</tr>
"
@{ if(ViewBag.Status == "Exception")
   {
<tr style="height:50px; font-weight:bold;" class="gridrow">
<td>Wizard Amounts</td><td>&nbsp;</td><td>@Decimal.Round(ViewBag.RentalRenterTotalAmount, 2)</td><td>@Decimal.Round(ViewBag.RentalInsuranceTotalAmount, 2)</td><td style="display: @ViewBag.WZD;"></td>
</tr>
   }
}

@{ if(ViewBag.Status == "Closed" || ViewBag.Status == "Pending")
   {
        <tr style="height: 50px; font-weight: bold;" class="gridrow">
            <td>
                Difference to previous invoice
            </td>
            <td>
                <label id="previousGrandTotal"></label>
            </td>
            <td><label id="previousCustomerTotal"></label>
            </td>
            <td>
                <label id="previousInsuranceTotal"></label>
            </td>
            <td style="display: @ViewBag.WZD;">
            </td>
        </tr>
   }
    }

    <tr>
    <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
            @Html.DropDownListFor(model => model.Output_Type_C, (IEnumerable<SelectListItem>)ViewBag.outputCodes_C, new { rhs = "true", @compare = "true" })
                
            </td>
            <td>
                @Html.DropDownListFor(model => model.Output_Type_I, (IEnumerable<SelectListItem>)ViewBag.outputCodes_I, new { rhs = "true", @compare = "true" })
            </td>
            <td>&nbsp;</td>
    </tr>
    <tr>
        
        <td colspan="5"  style="text-align:right;">
            <p>
                <input type="submit" value="Save" id="saveBtn" style="width:130px; height:50px; background-color:green; color:white;" onkeypress="return event.keyCode!=13" /><input type="submit" value="Generate Invoices" id="Invoices" />
            </p>
        </td>
    </tr>
<!--
    <tr style="height:50px; font-weight:bold;" class="gridrow">
<td colspan="5"><b>Differanser upp till två kronor, det blir justerat vid faktura produktion det ska ni inte bry er om</b></td>
</tr-->
</table>
</td>
</tr>


</table>
</fieldset>

 @if(Model.Status == 2 && ((Model.CCIUpdated.HasValue && Model.CCIUpdated.Value == true) || (Model.CustomerAddressUpdated.HasValue && Model.CustomerAddressUpdated.Value == true))){
     
     <script type="text/javascript">
            $('[rhs]').attr("readonly", "readonly");
            $('option:not(:selected)').attr('disabled', true);

            $('#cboHistoric option').each(function () {
                $(this).removeAttr('disabled');
            });

            $('#cboExpenseCode option').each(function () {
                $(this).removeAttr('disabled');
            });

            $('#checkInDateDate').datepicker('destroy');

            if ($("#RentalRenterCreditClubCode").val() == "AV" || $("#RentalRenterCreditClubCode").val() == "av")
            {
                $('#RentalRenterBillingName').attr("readonly", "readonly");
                $('#RentalRenterAddress1Text').attr("readonly", "readonly");
                $('#RentalRenterAddress2Text').attr("readonly", "readonly");
                $('#RentalRenterAddressCityText').attr("readonly", "readonly");
            }

    </script>
}

@if (Model.Status == 2 && ((Model.TotalUpdate.HasValue && Model.TotalUpdate.Value == true) || (Model.VoucherValueUpdate.HasValue && Model.VoucherValueUpdate.Value == true)))
{
     
     @*<script type="text/javascript">
         $('[lhs]').attr("readonly", "readonly");
         $('[av]').attr("readonly", "readonly");
    </script>*@
}

@if (ViewBag.ShowOldInvoiceMessage != null && ViewBag.ShowOldInvoiceMessage == true)
{
    <script type="text/javascript">        //alert("Denna hyra är äldre än 6 månader. Ladda upp hyran igen via /FOR RALOAD innan du gör din korrigering.");</script>
}

<script type="text/javascript">

    var numberOfDays = 0;
    var numberOfKM = 0;
    //alert('@m.RefuellingTotal');
    var changedlist = '@ViewBag.ChangedList';
    var customerAddressChanged = false;

    if($("#RentalRenterCreditClubCode").val() == "AV" || $("#RentalRenterCreditClubCode").val() == "av")
    {
        $('#RentalRenterAddress1Text').attr("readonly", "readonly");
        $('#RentalRenterAddress2Text').attr("readonly", "readonly");
        $('#RentalRenterAddressCityText').attr("readonly", "readonly");
        $('#RentalRenterBillingName').attr("readonly", "readonly");
    }

    if($("#RentalInsuranceCreditClubCode").val() == "DI")
    {
        $('#RentalInsuranceBillingAddress1').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress2').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress3').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress1').removeAttr("disabled");
        $('#RentalInsuranceBillingAddress2').removeAttr("disabled");
        $('#RentalInsuranceBillingAddress3').removeAttr("disabled");
        $("#RentalInsuranceBillingAddress1").removeClass('SBDisabledText');
        $("#RentalInsuranceBillingAddress2").removeClass('SBDisabledText');
        $("#RentalInsuranceBillingAddress3").removeClass('SBDisabledText');

    }

    $(document).ready(function () {
    
    $("#btVoid").click(function() {

        //if($("#cboExpenseCode").val() == "") { alert('You need to choose reason for On the road expense amount'); return false; }
        if(confirm('Are you sure you want to void the contract?')){ return true; } else {return false; }

    });


    $("[compare]").each(function() {

           var id = this.id;
           if(changedlist.indexOf(id) > -1){
                $(this).css('border', '1px solid orange');
           }
    });

    if($('#RentalInsuranceCreditClubCode').val()=='AV' || $('#RentalInsuranceCreditClubCode').val()=='av') { $('#btnGetAVAddress').show(); } else {$('#btnGetAVAddress').hide();}
    //if($('#RentalRenterCreditClubCode').val()=='AV' || $('#RentalRenterCreditClubCode').val()=='av') { $('#btnCustomerGetAVAddress').show(); } else {$('#btnCustomerGetAVAddress').hide();}

        $('#txtTimestamp').val('@DateTime.Now.ToString()');

        //$("#InvoicesTab").click(function(){
//                var functionPath1 = "@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"])listing/GetInvoiceList?RANumber=E123456789";

//            $.getJSON(functionPath1, function( data ) {

//            alert('data received');

//            $("#invoicelist").append(data);
//                });

        //});


    $(function(){
    /*
     * this swallows backspace keys on any non-input element.
     * stops backspace -> back
     */
    var rx = /INPUT|SELECT|TEXTAREA/i;

    $(document).bind("keydown keypress", function(e){
        if( e.which == 8 ){ // 8 == backspace
            if(!rx.test(e.target.tagName) || e.target.disabled || e.target.readOnly ){
                e.preventDefault();
            }
        }
    });


});

   
   $('#btnOkToModify').click(function(){
        $.ajax({
            url: "@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"])listing/OkToUpdate/",
            type: "POST",
            async: true,
            data: "RentalId=" + $("#RentalId").val() + "&Checked=" + $('#chkOverrideLock').is(':checked'),
            success: function (msg) {
                //alert(msg);
                if(msg == "Success") { alert('Record updated'); } else { alert('There was an error updating the record'); }
            },
            error: function (msg) {
                alert("Error occured.");
                
            }
        });
        return false;
   });

   

   $('#btnUpdateTimestamp').click(function(){
        $.ajax({
            url: "@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"])listing/UpdateTimestamp/",
            type: "POST",
            async: true,
            data: "RentalId=" + $("#RentalId").val() + "&Timestamp=" + $('#txtTimestamp').val(),
            success: function (msg) {
                //alert(msg);
                if(msg == "Success") { alert('Record updated'); location.reload();} else { alert('There was an error updating the record'); }
            },
            error: function (msg) {
                alert("Error occured.");
                
            }
        });
        return false;
   });


   $('#btnGetAVAddress').click(function(){
        $.ajax({
            url: "@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"])listing/GetAVAddress/",
            type: "POST",
            async: true,
            data: "AccountNumber=" + $("#RentalInsuranceCreditCardNumber").val(),
            success: function (msg) {
                //alert(msg.Success + "-" + msg.Billing_Name);
                if(msg.Success == "true") { 
                    $('#RentalInsuranceBillingName').val(msg.Billing_Name); 
                    $('#RentalInsuranceBillingAddress1').val(msg.Billing_Address1); 
                    $('#RentalInsuranceBillingAddress2').val(msg.Billing_Address2); 
                    $('#RentalInsuranceBillingAddress3').val(msg.Billing_Address3); 

                } 
                else { 
                    alert('There was an error getting the AV Address'); 
                }
            },
            error: function (msg) {
                alert("There was an error getting the AV Address.");
                
            }
        });
        return false;
   });

   

      $('#btnCustomerGetAVAddress').click(function(){
        $.ajax({
            url: "@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"])listing/GetAVAddress/",
            type: "POST",
            async: true,
            data: "AccountNumber=" + $("#RentalRenterCreditCardNumber").val(),
            success: function (msg) {
                //alert(msg.Success + "-" + msg.Billing_Name);
                if(msg.Success == "true") { 
                    $('#RentalRenterBillingName').val(msg.Billing_Name); 
                    $('#RentalRenterAddress1Text').val(msg.Billing_Address1); 
                    $('#RentalRenterAddress2Text').val(msg.Billing_Address2); 
                    $('#RentalRenterAddressCityText').val(msg.Billing_Address3); 

                } 
                else { 
                    alert('There was an error getting the AV Address'); 
                }
            },
            error: function (msg) {
                alert("There was an error getting the AV Address.");
                
            }
        });
        return false;
   });

      $("#RentalInsuranceCreditCardNumber").change(function() {
                    $('[rhs]').removeAttr("readonly");
                    $('option:not(:selected)').removeAttr('disabled');
                    $('#RentalInsuranceBillingName').val('');
                    $('#RentalInsuranceBillingAddress1').val('');
                    $('#RentalInsuranceBillingAddress2').val('');
                    $('#RentalInsuranceBillingAddress3').val('');
                    alert("Please press 'Get AV address' to update to correct address");
        });

        $("#RentalRenterCreditCardNumber").change(function() {
                    $('[rhs]').removeAttr("readonly");
                    $('option:not(:selected)').removeAttr('disabled');
                    $('#RentalRenterBillingName').val('');
                    $('#RentalRenterAddress1Text').val('');
                    $('#RentalRenterAddress2Text').val('');
                    $('#RentalRenterAddressCityText').val('');
                    if($("#RentalRenterCreditClubCode").val() != "AV" && $("#RentalRenterCreditClubCode").val() != "av" && $("#RentalRenterCreditClubCode").val() != "Av" && $("#RentalRenterCreditClubCode").val() != "aV")
                        {
                            $('#RentalRenterBillingName').removeAttr("readonly");
                            $('#RentalRenterAddress1Text').removeAttr("readonly");
                            $('#RentalRenterAddress2Text').removeAttr("readonly");
                            $('#RentalRenterAddressCityText').removeAttr("readonly");
                        }
                    //alert("Please press 'Get AV address' to update to correct address");
        });

   $("#RentalInsuranceCreditClubCode").change(function() {

   if($("#RentalInsuranceCreditClubCode").val() == "DI" || $("#RentalInsuranceCreditClubCode").val() == "di" || $("#RentalInsuranceCreditClubCode").val() == "Di"  || $("#RentalInsuranceCreditClubCode").val() == "dI")
    {
        $('#RentalInsuranceBillingName').removeAttr("readonly");
        $('#RentalInsuranceBillingName').removeAttr("disabled");
        $("#RentalInsuranceBillingName").removeClass('SBDisabledText');

        $('#RentalInsuranceBillingAddress1').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress2').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress3').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress1').removeAttr("disabled");
        $('#RentalInsuranceBillingAddress2').removeAttr("disabled");
        $('#RentalInsuranceBillingAddress3').removeAttr("disabled");
        $("#RentalInsuranceBillingAddress1").removeClass('SBDisabledText');
        $("#RentalInsuranceBillingAddress2").removeClass('SBDisabledText');
        $("#RentalInsuranceBillingAddress3").removeClass('SBDisabledText');
        alert("Please update company name and address as you have switched account number");
        $('#btnGetAVAddress').attr("disabled", "disabled");
        $("#RentalInsuranceCreditCardNumber").val('');
        $('[rhs]').removeAttr("readonly");
    }
      if($("#RentalInsuranceCreditClubCode").val() == "AV" || $("#RentalInsuranceCreditClubCode").val() == "av"  || $("#RentalInsuranceCreditClubCode").val() == "Av"  || $("#RentalInsuranceCreditClubCode").val() == "aV")
    {
        $('#RentalInsuranceBillingName').attr("readonly", "readonly");
        $('#RentalInsuranceBillingAddress1').attr("readonly", "readonly");
        $('#RentalInsuranceBillingAddress2').attr("readonly", "readonly");
        $('#RentalInsuranceBillingAddress3').attr("readonly", "readonly");
        //$("#RentalInsuranceBillingAddress1").removeClass('SBDisabledText');
        //$("#RentalInsuranceBillingAddress2").removeClass('SBDisabledText');
        //$("#RentalInsuranceBillingAddress3").removeClass('SBDisabledText');
        alert("Please press 'Get AV address' to update to correct address");
        $('#btnGetAVAddress').removeAttr("disabled");
        $("#RentalInsuranceCreditCardNumber").val('');
        $('[rhs]').removeAttr("readonly");
    }

   });


    $('[rhs]').change(function(){
        $('[lhs]').attr("readonly", "readonly");
    });
    $('[av]').change(function(){
        $('[lhs]').attr("readonly", "readonly");
        $("#RentalDamageNumber").removeAttr("readonly");
    });
    $('[lhs]').change(function(){
        $('[rhs]').attr("readonly", "readonly");
        $('option:not(:selected)').attr('disabled', true);
//        $('#checkInDateDate').attr("readonly", "readonly");
//        $('#checkInDateTime').attr("readonly", "readonly");
        $('#checkInDateDate').datepicker('destroy');

        if($("#RentalRenterCreditClubCode").val() == "AV" || $("#RentalRenterCreditClubCode").val() == "av")
    {
        $('#RentalRenterAddress1Text').attr("readonly", "readonly");
        $('#RentalRenterAddress2Text').attr("readonly", "readonly");
        $('#RentalRenterAddressCityText').attr("readonly", "readonly");
        $('#RentalRenterBillingName').attr("readonly", "readonly");
    }

    if($("#RentalInsuranceCreditClubCode").val() == "DI")
    {
        $('#RentalInsuranceBillingAddress1').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress2').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress3').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress1').removeAttr("disabled");
        $('#RentalInsuranceBillingAddress2').removeAttr("disabled");
        $('#RentalInsuranceBillingAddress3').removeAttr("disabled");
        $("#RentalInsuranceBillingAddress1").removeClass('SBDisabledText');
        $("#RentalInsuranceBillingAddress2").removeClass('SBDisabledText');
        $("#RentalInsuranceBillingAddress3").removeClass('SBDisabledText');

    }
    
    });



    $("#RentalRenterCreditClubCode").change(function(){

         if($("#RentalRenterCreditClubCode").val() == "DI" || $("#RentalRenterCreditClubCode").val() == "di" || $("#RentalRenterCreditClubCode").val() == "Di"  || $("#RentalRenterCreditClubCode").val() == "dI")
        {
            $('#RentalRenterBillingName').removeAttr("readonly");
            $('#RentalRenterBillingName').removeAttr("disabled");
            $("#RentalRenterBillingName").removeClass('SBDisabledText');

            $('#RentalRenterAddress1Text').removeAttr("readonly");
            $('#RentalRenterAddress2Text').removeAttr("readonly");
            $('#RentalRenterAddressCityText').removeAttr("readonly");
            $('#RentalRenterAddress1Text').removeAttr("disabled");
            $('#RentalRenterAddress2Text').removeAttr("disabled");
            $('#RentalRenterAddressCityText').removeAttr("disabled");
            $("#RentalRenterAddress1Text").removeClass('SBDisabledText');
            $("#RentalRenterAddress2Text").removeClass('SBDisabledText');
            $("#RentalRenterAddressCityText").removeClass('SBDisabledText');
            alert("Please update company name and address as you have switched account number");
            $('#btnCustomerGetAVAddress').attr("disabled", "disabled");
            $("#RentalRenterCreditCardNumber").val('');
            $('[rhs]').removeAttr("readonly");
            $('option:not(:selected)').removeAttr('disabled');

        }
          if($("#RentalRenterCreditClubCode").val() == "AV" || $("#RentalRenterCreditClubCode").val() == "av"  || $("#RentalRenterCreditClubCode").val() == "Av"  || $("#RentalRenterCreditClubCode").val() == "aV")
        {
            $('#RentalRenterBillingName').attr("readonly", "readonly");
            $('#RentalRenterAddress1Text').attr("readonly", "readonly");
            $('#RentalRenterAddress2Text').attr("readonly", "readonly");
            $('#RentalRenterAddressCityText').attr("readonly", "readonly");
            //$("#RentalInsuranceBillingAddress1").removeClass('SBDisabledText');
            //$("#RentalInsuranceBillingAddress2").removeClass('SBDisabledText');
            //$("#RentalInsuranceBillingAddress3").removeClass('SBDisabledText');
            alert("Please press 'Get AV address' to update to correct address");
            $('#btnCustomerGetAVAddress').removeAttr("disabled");
            $("#RentalRenterCreditCardNumber").val('');
            $('[rhs]').removeAttr("readonly");
            $('option:not(:selected)').removeAttr('disabled');
        }

                       $('#RentalRenterBillingName').val('');
                    $('#RentalRenterAddress1Text').val('');
                    $('#RentalRenterAddress2Text').val('');
                    $('#RentalRenterAddressCityText').val('');



//        if($("#RentalRenterCreditClubCode").val() != "AV" && $("#RentalRenterCreditClubCode").val() != "av")
//        {
//            $('#RentalRenterAddress1Text').removeAttr("readonly");
//            $('#RentalRenterAddress2Text').removeAttr("readonly");
//            $('#RentalRenterAddressCityText').removeAttr("readonly");
//        }

//        if(customerAddressChanged == true && ($("#RentalRenterCreditClubCode").val() == "AV" || $("#RentalRenterCreditClubCode").val() == "av"))
//        {
//            alert("You have changed the customer address - you cannot set the Payment Method to AV");
//            $("#RentalRenterCreditClubCode").val('');
//        }

    });

    

//    $("#RentalRenterAddress1Text").change(function(){
//        customerAddressChanged = true;
//        if($("#RentalRenterCreditClubCode").val() == "AV" || $("#RentalRenterCreditClubCode").val() == "av")
//        {
//        $('#RentalRenterCreditClubCode').attr("readonly", "readonly");
//        $('#RentalRenterCreditCardNumber').attr("readonly", "readonly");
//        }
//    });
//    $("#RentalRenterAddress2Text").change(function(){
//            customerAddressChanged = true;
//        if($("#RentalRenterCreditClubCode").val() == "AV" || $("#RentalRenterCreditClubCode").val() == "av")
//        {
//        $('#RentalRenterCreditClubCode').attr("readonly", "readonly");
//        $('#RentalRenterCreditCardNumber').attr("readonly", "readonly");
//       }
//    });
//    $("#RentalRenterAddressCityText").change(function(){
//            customerAddressChanged = true;

//        if($("#RentalRenterCreditClubCode").val() == "AV" || $("#RentalRenterCreditClubCode").val() == "av")
//        {
//        $('#RentalRenterCreditClubCode').attr("readonly", "readonly");
//        $('#RentalRenterCreditCardNumber').attr("readonly", "readonly");
//        }
//    });


        $("#cboMiscCode").val('@Model.MiscCode');
        $("#cboExpenseCode").val('@Model.OnTheRoadCode');

        if($("#cboMiscCode").val() == "B") { $("#cboExpenseCode").val('J');}

        numberOfKM = ($("#KMCheckin").val() - $("#KMCheckout").val());
        $("#NumKMDriven").text(numberOfKM);

        $(function () {
            $("input").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
            });
        });

        $("#cboMiscCode").change(function() {

              if($(this).val() == "B") { MiscOtherUpdate(); }
              else { MiscOtherReverse();}
        });
                    


        $("#saveBtn").click(function () {

            //if($("#MiscCostsSplit").val() != "-1" && $("#cboMiscCode").val() == ""){ alert("You must select a Misc Cost Code"); return false;}

            if ($("#PriceSplit").val() == -1) {
                alert("You must select a Price Split before the system can perform Split Billing calculation.");
                //$("#saveBtn").attr("disabled", true);
                return false;
            }

            if ($("#VATSplit").val() == -1) {
                alert("You must select a VAT Split before the system can perform Split Billing calculation.");
                //$("#saveBtn").attr("disabled", true);
                return false;
            }

            if ($("#CDWSplit").val() == -1 && $("#SuperCDWTotal").val().length > 0) {
                alert("You must select a CDW Split if you have entered a value.");
                return false;
            }
            if ($("#SuperTPSplit").val() == -1 && $("#SuperTPTotal").val().length > 0) {
                alert("You must select a Super TP Split if you have entered a value.");
                return false;
            }
            if ($("#RAISplit").val() == -1 && $("#RAITotal").val().length > 0) {
                alert("You must select an RAI split if you have entered a value.");
                return false;
            }
            if ($("#AirportFeeSplit").val() == -1 && $("#AirportFeeTotal").val().length > 0) {
                alert("You must select an Airport Fee split if you have entered a value.");
                return false;
            }    
            if ($("#OneWayFeeSplit").val() == -1 && $("#OneWayTotal").val().length > 0) {
                alert("You must select a One Way split if you have entered a value.");
                return false;
            } 
            if ($("#RefuelingSplit").val() == -1 && $("#RefuellingTotal").val().length > 0) {
                alert("You must select a Refuelling split if you have entered a value.");
                return false;
            }   
            if ($("#DeliveryFeeSplit").val() == -1 && $("#DeliveryTotal").val().length > 0) {
                alert("You must select a Delivery split if you have entered a value.");
                return false;
            }
            if ($("#ReturnFeeSplit").val() == -1 && $("#ReturnTotal").val().length > 0) {
                alert("You must select a Return split if you have entered a value.");
                return false;
            }
            if ($("#VRFSplit").val() == -1 && $("#VRFTotal").val().length > 0) {
                alert("You must select a VRF split if you have entered a value.");
                return false;
            }
//            if ($("#MiscCostsSplit").val() == -1 && $("#MiscCostsTotal").val().length > 0) {
//                alert("You must select a Misc Costs split if you have entered a value.");
//                return false;
//            }
            if ($("#OtherFeeSplit").val() == -1 && $("#OtherFeeTotal").val().length > 0) {
                alert("You must select an Other Fee split if you have entered a value.");
                return false;
            }

            if((($("#AlreadyPaidByCustomerAmount").val() != 0 && $("#AlreadyPaidByCustomerAmount").val() != "") || ($("#AlreadyPaidByInsuranceAmount").val() != 0 && $("#AlreadyPaidByInsuranceAmount").val() != "")) && $("#cboExpenseCode").val() == "") {
                alert("You need to choose reason for On the road expense amount.");
                return false;
            } 

            if((($("#MiscCostsCustomerPays").val().replace(/\,/g, '.') != 0 && $("#MiscCostsCustomerPays").val() != "")
             || ($("#MiscCostsInsurancePays").val().replace(/\,/g, '.') != 0 && $("#MiscCostsInsurancePays").val() != ""))
              && $("#cboMiscCode").val() == "") {
                alert("You must select an Misc Code if you have entered a value.");
                return false;
            } 


            if ($("#AVISComments").val() == "") {
                alert("You must add a comment about your changes.");
                return false;
            }

            if(parseFloat($("#GrandTotal").text().replace(/\,/g, '.')) < 0)
            {
                alert("Grand Total is less than 0. This record cannot be saved.");
                return false;
            }

            if(parseFloat($("#InvoiceAmountCustomer").val().replace(/\,/g, '.')) < 0)
            {
                alert("Customer Total is less than 0. This record cannot be saved.");
                return false;
            }

            if(parseFloat($("#InvoiceAmountInsurance").val().replace(/\,/g, '.')) < 0)
            {
                alert("Insurance Total is less than 0. This record cannot be saved.");
                return false;
            }

            if($("#GrandTotal").text() == "NaN")
            {
                alert("Grand Total is set to NaN - This record cannot be saved.");
                return false;
            }

            if(parseFloat($("#AmountCoveredByInsurance").val().replace(/\,/g, '.')) > parseFloat($("#PriceSplitTotal").val().replace(/\,/g, '.')))
            {
                alert("The amount covered by insurance must not exceed the time and mileage value.");
                return false;
            }
            
            if($("#status_text").val() != "Exception")
            {

                var conf = confirm("Ändringarna sparas och hyran flyttas 'waiting for invoicing'. Korrigerad delfaktura/kreditnota produceras och sändas inom ett dygn. Vill du spara dessa ändringar?");
                if (conf == true) {
    //            $("#AVISComments").val($("#AvisCom").val());
    //            $("#mainForm").submit();
                    return true;

                } else {
                    return false;
                }
            }else{
                return true;
            }

        });

         $("#confirmBtn").click(function () {

          if ($("#AvisCom").val() == ""){
            alert("You must enter a comment");
            return false;
          }

         var conf = confirm("Ändringarna sparas och hyran flyttas 'waiting for invoicing'. Korrigerad delfaktura/kreditnota produceras och sändas inom ett dygn. Vill du spara dessa ändringar?");
            if (conf == true) {
            $("#AVISComments").val($("#AvisCom").val());
            $("#mainForm").submit();
                return true;

            } else {
                return false;
            }
         });

        chkOut = $("#checkOutDateDate").val();
        chkIn = $("#checkInDateDate").val();

        $("#Invoices").hide();

        if (region == 'Scandinavia') {

        // causing rounding issues for parsefloat
//            $("#SuperCDWTotal").val(roundNumber(parseFloat($("#SuperCDWTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#SuperTPTotal").val(roundNumber(parseFloat($("#SuperTPTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#RAITotal").val(roundNumber(parseFloat($("#RAITotal").val().toString().replace(/\./g, ',')), 2));
//            $("#AirportFeeTotal").val(roundNumber(parseFloat($("#AirportFeeTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#OneWayTotal").val(roundNumber(parseFloat($("#OneWayTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#RefuellingTotal").val(roundNumber($("#RefuellingTotal").val().toString().replace(/\./g, ','), 2));
//            $("#DeliveryTotal").val(roundNumber(parseFloat($("#DeliveryTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#ReturnTotal").val(roundNumber(parseFloat($("#ReturnTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#VRFTotal").val(roundNumber(parseFloat($("#VRFTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#MiscCostsTotal").val(roundNumber(parseFloat($("#MiscCostsTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#OtherFeeTotal").val(roundNumber(parseFloat($("#OtherFeeTotal").val().toString().replace(/\./g, ',')), 2));
//            $("#AlreadyPaidByInsuranceAmount").val(roundNumber(parseFloat($("#AlreadyPaidByInsuranceAmount").val().toString().replace(/\./g, ',')), 2));
//            $("#AlreadyPaidByCustomerAmount").val(roundNumber(parseFloat($("#AlreadyPaidByCustomerAmount").val().toString().replace(/\./g, ',')), 2));
//            $("#InvoiceAmountCustomer").val(roundNumber(parseFloat($("#InvoiceAmountCustomer").val().toString().replace(/\./g, ',')), 2));

            $("#SuperCDWTotal").val(roundNumber(parseFloat($("#SuperCDWTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#SuperTPTotal").val(roundNumber(parseFloat($("#SuperTPTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#RAITotal").val(roundNumber(parseFloat($("#RAITotal").val().toString().replace(/\,/g, '.')), 2));
            $("#AirportFeeTotal").val(roundNumber(parseFloat($("#AirportFeeTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#OneWayTotal").val(roundNumber(parseFloat($("#OneWayTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#RefuellingTotal").val(roundNumber(parseFloat($("#RefuellingTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#DeliveryTotal").val(roundNumber(parseFloat($("#DeliveryTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#ReturnTotal").val(roundNumber(parseFloat($("#ReturnTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#VRFTotal").val(roundNumber(parseFloat($("#VRFTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#MiscCostsTotal").val(roundNumber(parseFloat($("#MiscCostsTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#OtherFeeTotal").val(roundNumber(parseFloat($("#OtherFeeTotal").val().toString().replace(/\,/g, '.')), 2));
            //$("#AlreadyPaidByInsuranceAmount").val(roundNumber(parseFloat($("#AlreadyPaidByInsuranceAmount").val().toString().replace(/\,/g, '.')), 2));
            //$("#AlreadyPaidByCustomerAmount").val(roundNumber(parseFloat($("#AlreadyPaidByCustomerAmount").val().toString().replace(/\,/g, '.')), 2));


// end
            $("#InvoiceAmountInsurance").val(roundNumber(parseFloat($("#InvoiceAmountInsurance").val().toString().replace(/\./g, ',')), 2));
            $("#PaymentMethod_CustomerPays").text(roundNumber(parseFloat($("#PaymentMethod_CustomerPays").text().toString().replace(/\./g, ',')), 2));

        }
        else {
            $("#SuperCDWTotal").val(roundNumber(parseFloat($("#SuperCDWTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#SuperTPTotal").val(roundNumber(parseFloat($("#SuperTPTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#RAITotal").val(roundNumber(parseFloat($("#RAITotal").val().toString().replace(/\,/g, '.')), 2));
            $("#AirportFeeTotal").val(roundNumber(parseFloat($("#AirportFeeTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#OneWayTotal").val(roundNumber(parseFloat($("#OneWayTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#RefuellingTotal").val(roundNumber(parseFloat($("#RefuellingTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#DeliveryTotal").val(roundNumber(parseFloat($("#DeliveryTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#ReturnTotal").val(roundNumber(parseFloat($("#ReturnTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#VRFTotal").val(roundNumber(parseFloat($("#VRFTotal").val().toString().replace(/\,/g, '.')), 2));
            //$("#MiscCostsTotal").val(roundNumber(parseFloat($("#MiscCostsTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#OtherFeeTotal").val(roundNumber(parseFloat($("#OtherFeeTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#AlreadyPaidByInsuranceAmount").val(roundNumber(parseFloat($("#AlreadyPaidByInsuranceAmount").val().toString().replace(/\,/g, '.')), 2));
            $("#AlreadyPaidByCustomerAmount").val(roundNumber(parseFloat($("#AlreadyPaidByCustomerAmount").val().toString().replace(/\,/g, '.')), 2));
            $("#InvoiceAmountCustomer").val(roundNumber(parseFloat($("#InvoiceAmountCustomer").val().toString().replace(/\,/g, '.')), 2));
            $("#InvoiceAmountInsurance").val(roundNumber(parseFloat($("#InvoiceAmountInsurance").val().toString().replace(/\,/g, '.')), 2));
            $("#PaymentMethod_CustomerPays").text(roundNumber(parseFloat($("#PaymentMethod_CustomerPays").text().toString().replace(/\,/g, '.')), 2));

            $("#MiscCostsCustomerPays").val(roundNumber(parseFloat($("#MiscCostsCustomerPays").val().toString().replace(/\,/g, '.')), 2));
            $("#MiscCostsInsurancePays").val(roundNumber(parseFloat($("#MiscCostsInsurancePays").val().toString().replace(/\,/g, '.')), 2));

        }


        //        $("#SuperCDWTotal").val(roundNumber(parseFloat($("#SuperCDWTotal").val()), 2));
        //        $("#RAITotal").val(roundNumber(parseFloat($("#RAITotal").val()), 2));
        //        $("#AirportFeeTotal").val(roundNumber(parseFloat($("#AirportFeeTotal").val()), 2));
        //        $("#OneWayTotal").val(roundNumber(parseFloat($("#OneWayTotal").val()), 2));
        //        $("#RefuellingTotal").val(roundNumber(parseFloat($("#RefuellingTotal").val()), 2));
        //        $("#DeliveryTotal").val(roundNumber(parseFloat($("#DeliveryTotal").val()), 2));
        //        $("#ReturnTotal").val(roundNumber(parseFloat($("#ReturnTotal").val()), 2));
        //        $("#VRFTotal").val(roundNumber(parseFloat($("#VRFTotal").val()), 2));
        //        $("#MiscCostsTotal").val(roundNumber(parseFloat($("#MiscCostsTotal").val()), 2));
        //        $("#OtherFeeTotal").val(roundNumber(parseFloat($("#OtherFeeTotal").val()), 2));
        //        $("#AlreadyPaidByInsuranceAmount").val(roundNumber(parseFloat($("#AlreadyPaidByInsuranceAmount").val()), 2));
        //        $("#AlreadyPaidByCustomerAmount").val(roundNumber(parseFloat($("#AlreadyPaidByCustomerAmount").val()), 2));
        //        $("#InvoiceAmountCustomer").val(roundNumber(parseFloat($("#InvoiceAmountCustomer").val()), 2));
        //        $("#InvoiceAmountInsurance").val(roundNumber(parseFloat($("#InvoiceAmountInsurance").val()), 2));
        //        $("#PaymentMethod_CustomerPays").text(roundNumber(parseFloat($("#PaymentMethod_CustomerPays").text()), 2));

        $("#PriceSplit").change(function () {
            if ($("#PriceSplit :selected").text().indexOf("insurance company pays all") > -1) {
                var ok = true;
                if ($("#CDWSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#SuperTPSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#AirportFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#OneWayFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#RefuelingSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#DeliveryFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#ReturnFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#VRFSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                //if ($("#MiscCostsSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#OtherFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#RAISplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }

                /*
                if (ok == false) {
                alert("Elsewhere you have selected for the Customer to pay all. You cannot choose for the Insurance to pay until you change this.");
                $("#PriceSplit").attr('selectedIndex', 0);
                return false
                }
                */
            }

            if ($("#PriceSplit :selected").val() == "5") {
                $("#KmCoveredByInsurance").attr({ readonly: false });
                $("#KmCoveredByInsurance").attr({ "class": 'none' });
                $("#DaysCoveredByInsurance").attr({ readonly: false });
                $("#DaysCoveredByInsurance").attr({ "class": 'none' });

            }
            else {
                $("#KmCoveredByInsurance").attr({ readonly: true });
                $("#KmCoveredByInsurance").attr({ "class": 'SBDisabledText' });
                $("#DaysCoveredByInsurance").attr({ readonly: true });
                $("#DaysCoveredByInsurance").attr({ "class": 'SBDisabledText' });

            }

            if ($("#PriceSplit :selected").val() == "6") {
                $("#AmountCoveredByInsurance").attr({ readonly: false });
                $("#AmountCoveredByInsurance").attr({ "class": 'none' });
            } else {
                $("#AmountCoveredByInsurance").attr({ readonly: true });
                $("#AmountCoveredByInsurance").attr({ "class": 'SBDisabledText' });
            }


            CalculateTotals();
        });

        $("#VATSplit").change(function () {
            CalculateTotals();
        });

        $("#CDWSplit").change(function () {
            if (InsPaysAll($("#CDWSplit :selected").text()) == false) { $("#CDWSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#SuperTPSplit").change(function () {
            if (InsPaysAll($("#SuperTPSplit :selected").text()) == false) { $("#SuperTPSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#RAISplit").change(function () {
            if (InsPaysAll($("#RAISplit :selected").text()) == false) { $("#RAISplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#AirportFeeSplit").change(function () {
            if (InsPaysAll($("#AirportFeeSplit :selected").text()) == false) { $("#AirportFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#OneWayFeeSplit").change(function () {
            if (InsPaysAll($("#OneWayFeeSplit :selected").text()) == false) { $("#OneWayFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#RefuelingSplit").change(function () {
            if (InsPaysAll($("#RefuelingSplit :selected").text()) == false) { $("#RefuelingSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#DeliveryFeeSplit").change(function () {
            if (InsPaysAll($("#DeliveryFeeSplit :selected").text()) == false) { $("#DeliveryFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#ReturnFeeSplit").change(function () {
            if (InsPaysAll($("#ReturnFeeSplit :selected").text()) == false) { $("#ReturnFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#VRFSplit").change(function () {
            if (InsPaysAll($("#VRFSplit :selected").text()) == false) { $("#VRFSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

//        $("#MiscCostsSplit").change(function () {
//            if (InsPaysAll($("#MiscCostsSplit :selected").text()) == false) { $("#MiscCostsSplit").attr('selectedIndex', 0); return; }
//            if($("#cboMiscCode").val() == "B") { MiscOtherUpdate(); }
//            CalculateTotals();
//        });


        $("#OtherFeeSplit").change(function () {
            if (InsPaysAll($("#OtherFeeSplit :selected").text()) == false) { $("#OtherFeeSplit").attr('selectedIndex', 0); return; }
            if($("#cboMiscCode").val() == "B") { MiscOtherUpdate(); }
            CalculateTotals();
        });


        function MiscOtherUpdate()
        {
            var customerVat = 0.00;
            var insuranceVat = 0.00;
//            if ($("#MiscCostsSplit").val() != "-1" && $("#MiscCostsTotal").val() != "")
//            {
//                if($("#MiscCostsSplit").val() == "7") { customerVat = parseFloat($("#MiscCostsTotal").val()) * 0.25; }
//                if($("#MiscCostsSplit").val() == "8") { insuranceVat = parseFloat($("#MiscCostsTotal").val()) * 0.25; }
//            }
             if ($("#OtherFeeSplit").val() != "-1" && $("#OtherFeeTotal").val() != "")
            {
                if($("#OtherFeeSplit").val() == "15") { customerVat += parseFloat($("#OtherFeeTotal").val()) * 0.25; }
                if($("#OtherFeeSplit").val() == "16") { insuranceVat += parseFloat($("#OtherFeeTotal").val()) * 0.25; }
            }

//            $("#AlreadyPaidByCustomerAmount").val(parseFloat($("#AlreadyPaidByCustomerAmount").val()) - customerVat);
//            $("#AlreadyPaidByInsuranceAmount").val(parseFloat($("#AlreadyPaidByInsuranceAmount").val()) - insuranceVat);

            $("#AlreadyPaidByCustomerAmount").val(customerVat);
            $("#AlreadyPaidByInsuranceAmount").val(insuranceVat);

            $("#cboExpenseCode").val('J');

            return;
        }

        function MiscOtherReverse()
        {
            var customerVat = 0.00;
            var insuranceVat = 0.00;
//            if ($("#MiscCostsSplit").val() != "-1" && $("#MiscCostsTotal").val() != "")
//            {
//                if($("#MiscCostsSplit").val() == "7") { customerVat = parseFloat($("#MiscCostsTotal").val()) * 0.25; }
//                if($("#MiscCostsSplit").val() == "8") { insuranceVat = parseFloat($("#MiscCostsTotal").val()) * 0.25; }
//            }
             if ($("#OtherFeeSplit").val() != "-1" && $("#OtherFeeTotal").val() != "")
            {
                if($("#OtherFeeSplit").val() == "15") { customerVat += parseFloat($("#OtherFeeTotal").val()) * 0.25; }
                if($("#OtherFeeSplit").val() == "16") { insuranceVat += parseFloat($("#OtherFeeTotal").val()) * 0.25; }
            }

            if(parseFloat($("#AlreadyPaidByCustomerAmount").val()) - customerVat > 0){
            $("#AlreadyPaidByCustomerAmount").val(parseFloat($("#AlreadyPaidByCustomerAmount").val()) - customerVat);
            }
            else{
             $("#AlreadyPaidByCustomerAmount").val("0");
            }

            if(parseFloat($("#AlreadyPaidByInsuranceAmount").val()) - insuranceVat > 0){
            $("#AlreadyPaidByInsuranceAmount").val(parseFloat($("#AlreadyPaidByInsuranceAmount").val()) - insuranceVat);
            }
            else{
            $("#AlreadyPaidByInsuranceAmount").val("0");
            }
            
            $("#cboExpenseCode").val('');

//            $("#AlreadyPaidByCustomerAmount").val(customerVat);
//            $("#AlreadyPaidByInsuranceAmount").val(insuranceVat);
            return;
        }



        $("#checkInDateDate").change(function () {

            out = $("#checkOutDateDate").val();
            cin = $("#checkInDateDate").val();

            var oDD = out.substring(0, 2);
            var oMM = out.substring(3, 5);
            var oYYYY = out.substring(6, 10);

            oMM = parseInt(oMM, 0) - 1;

            var iDD = cin.substring(0, 2);
            var iMM = cin.substring(3, 5);
            var iYYYY = cin.substring(6, 10);

            iMM = parseFloat(iMM, 0) - 1;

            var dOut = new Date(oYYYY, oMM, oDD);
            var dIn = new Date(iYYYY, iMM, iDD);
            numberOfDays = (dIn - dOut);
            numberOfDays = parseInt(numberOfDays / (24 * 3600 * 1000)) + 1;
            $("#NumDaysRental").text(numberOfDays);

            if (dIn >= dOut) {
                $("#mainForm :input").attr("disabled", false);
            }
            else {
                $("#mainForm :input").attr("disabled", true);
                alert("In order to perform a calulation the check in date must be later than the check out date. All other inputs have been disabled until this value is updated.");
                $("#checkInDateDate").attr("disabled", false);
                return false;
            }

            if (numberOfDays < $("#DaysCoveredByInsurance").val()) {
                alert("The number of days must not exceed calculated days.");
                $("#DaysCoveredByInsurance").val(numberOfDays);
                return false;
            }

            CalculateTotals();
        });

        CompareDates();

        $("#checkInDateTime").setMask('time');

        $("#checkInDateTime").change(function () {
            CalculateTotals();
        });

        $("input").change(function () {
            $(this).css('border', '2px solid red');
        });
        $("select").change(function () {
            $(this).css('border', '2px solid red');
        });

        $("#DaysCoveredByInsurance").keyup(function () {
            //$("#DaysCoveredByInsurance").val(IsNumeric($("#DaysCoveredByInsurance").val()));
            if ($(this).val() > numberOfDays) {
                alert("The number of days must not exceed calculated days.");
                $(this).val(numberOfDays);
                return false;
            }
            CalculateTotals();
        });

        $("#KMCheckin").keyup(function () {
            numberOfKM = ($("#KMCheckin").val() - $("#KMCheckout").val());
            $("#NumKMDriven").text(numberOfKM);
            CalculateTotals();
        });

        $("#KmCoveredByInsurance").keyup(function () {
            //$("#KmCoveredByInsurance").val(IsNumeric($("#KmCoveredByInsurance").val()));
            if ($(this).val() > numberOfKM) {
                alert("The number of KM must not exceed the calculated value.");
                $(this).val(numberOfKM);
                return false;
            }
            CalculateTotals();
        });

        $("#AmountCoveredByInsurance").keyup(function () {
            if(parseFloat($("#AmountCoveredByInsurance").val()) > parseFloat($("#PriceSplitTotal").val()))
            {
                alert("The amount covered by insurance must not exceed the time and mileage value.");
            }
            else{
                CalculateTotals();
            }
        });



        $("#SuperCDWTotal").keyup(function () {
            //$("#SuperCDWTotal").val(IsNumeric($("#SuperCDWTotal").val()));
            CalculateTotals();
        });

        $("#SuperTPTotal").keyup(function () {
            //$("#SuperCDWTotal").val(IsNumeric($("#SuperCDWTotal").val()));
            CalculateTotals();
        });

        $("#RAITotal").keyup(function () {
            //$("#RAITotal").val(IsNumeric($("#RAITotal").val()));
            CalculateTotals();
        });

        $("#AirportFeeTotal").keyup(function () {
            //$("#AirportFeeTotal").val(IsNumeric($("#AirportFeeTotal").val()));
            CalculateTotals();
        });

        $("#RefuellingTotal").keyup(function () {
            //$("#RefuellingTotal").val(IsNumeric($("#RefuellingTotal").val()));
            CalculateTotals();
        });

        $("#OneWayTotal").keyup(function () {
            //$("#OneWayTotal").val(IsNumeric($("#OneWayTotal").val()));
            CalculateTotals();
        });

        $("#DeliveryTotal").keyup(function () {
            //$("#DeliveryTotal").val(IsNumeric($("#DeliveryTotal").val()));
            CalculateTotals();
        });

        $("#ReturnTotal").keyup(function () {
            //$("#ReturnTotal").val(IsNumeric($("#ReturnTotal").val()));
            CalculateTotals();
        });

        $("#VRFTotal").keyup(function () {
            //$("#VRFTotal").val(IsNumeric($("#VRFTotal").val()));
            CalculateTotals();
        });

        $("#AlreadyPaidByCustomerAmount").keyup(function () {
            //$("#AlreadyPaidByCustomerAmount").val(IsNumeric($("#AlreadyPaidByCustomerAmount").val()));
            CalculateTotals();
        });

        $("#MiscCostsCustomerPays").keyup(function () {
            CalculateTotals();
        });

        $("#MiscCostsInsurancePays").keyup(function () {
            CalculateTotals();
        });

        $("#AlreadyPaidByInsuranceAmount").keyup(function () {
            //$("#AlreadyPaidByInsuranceAmount").val(IsNumeric($("#AlreadyPaidByInsuranceAmount").val()));
            CalculateTotals();
        });

        $("#MiscCostsTotal").keyup(function () {
            if($("#cboMiscCode").val() == "B") { MiscOtherUpdate(); }
            CalculateTotals();
        });

        $("#OtherFeeTotal").keyup(function () {
            if($("#cboMiscCode").val() == "B") { MiscOtherUpdate(); }
            CalculateTotals();
        });

        $("#OverrideDaysAmount").keyup(function () {
            CalculateTotals();
        });

        $("#OverrideKMAmount").keyup(function () {
            CalculateTotals();
        });



        $("#Invoices").click(function () {
            //window.open("/invoice/generate/" + $("#RentalAgreementNumber").val(), "Invoice");
            GenerateInvoices();
            return false;
        });


        CalculateTotals();
        if ($("#SuperCDWTotal").val() == 0) { $("#SuperCDWTotal").val(""); }
        if ($("#SuperTPTotal").val() == 0) { $("#SuperTPTotal").val(""); }
        if ($("#AirportFeeTotal").val() == 0) { $("#AirportFeeTotal").val(""); }
        if ($("#RAITotal").val() == 0) { $("#RAITotal").val(""); }
        if ($("#OneWayTotal").val() == 0) { $("#OneWayTotal").val(""); }
        if ($("#RefuellingTotal").val() == 0) { $("#RefuellingTotal").val(""); }
        if ($("#DeliveryTotal").val() == 0) { $("#DeliveryTotal").val(""); }
        if ($("#ReturnTotal").val() == 0) { $("#ReturnTotal").val(""); }
        if ($("#VRFTotal").val() == 0) { $("#VRFTotal").val(""); }
        if ($("#MiscCostsTotal").val() == 0) { $("#MiscCostsTotal").val(""); }
        if ($("#OtherFeeTotal").val() == 0) { $("#OtherFeeTotal").val(""); }




        //$("#PriceSplit_InsurancePays").autoNumeric({ aSep: ' ', aDec: ',' });

        //        $("#InvoiceAmountInsurance").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#SuperCDWTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#AirportFeeTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#RAITotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#OneWayTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#RefuellingTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#DeliveryTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#ReturnTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#VRFTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#MiscCostsTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#OtherFeeTotal").autoNumeric({ aSep: ' ', aDec: ',' });



        if ($("#status_text").val() != "Open" && $("#status_text").val() != "Exception" && $("#status_text").val() != "Closed") {
            if (editable != 'True') {
                $("#mainForm :input").attr("disabled", true);
                $("#saveBtn").attr("disabled", true);
                $('#chkManualInvoice').removeAttr('disabled');
                $('#chkOverrideLock').removeAttr('disabled');
                $('#btnUpdateTimestamp').removeAttr('disabled');
                $('#btnOkToModify').removeAttr('disabled');
                $('#txtTimestamp').removeAttr('disabled');
                $('#btnGetAVAddress').removeAttr('disabled');
                $('#btnCustomerGetAVAddress').removeAttr('disabled');
                        $('#RentalInsuranceBillingAddress1').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress2').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress3').removeAttr("readonly");
        $('#RentalInsuranceBillingAddress1').removeAttr("disabled");
        $('#RentalInsuranceBillingAddress2').removeAttr("disabled");
        $('#RentalInsuranceBillingAddress3').removeAttr("disabled");

            }

            //            if ($("#RentalInsuranceInvoiceNumber").val() != "" && $("#status_text").val() != "Pending") {
            //                $("#Invoices").show(); //attr("disabled", true);
            //                $("#Invoices").attr("disabled", false);
            //            }
        }

////        if( $("#status_text").val() == "Pending" && editable == "True")
////        {
////             $("#saveBtn").attr("disabled", true);
////        }

        if(noSave == "True"){
        
                        $("#mainForm :input").attr("disabled", true);

                     $("#saveBtn").attr("disabled", true);
                     $('#btnGetAVAddress').removeAttr('disabled');
                     $('#btnCustomerGetAVAddress').removeAttr('disabled');
        }

        if ($("#status_text").val() == "Pending" || $("#status_text").val() == "Closed") {
            $("#daysoverride").show();
            $("#kmoverride").show();
        }



        out = $("#checkOutDateDate").val();
        cin = $("#checkInDateDate").val();

        var oDD = out.substring(0, 2);
        var oMM = out.substring(3, 5);
        var oYYYY = out.substring(6, 10);

        oMM = parseInt(oMM, 0) - 1;

        var iDD = cin.substring(0, 2);
        var iMM = cin.substring(3, 5);
        var iYYYY = cin.substring(6, 10);

        iMM = parseFloat(iMM, 0) - 1;

        var dOut = new Date(oYYYY, oMM, oDD);
        var dIn = new Date(iYYYY, iMM, iDD);

        if (dIn < dOut) {

            $("#mainForm :input").attr("disabled", true);
            alert("In order to perform a calulation the check in date must be later than the check out date. All other inputs have been disabled until this value is updated.");
            $("#checkInDateDate").attr("disabled", false);
            $('#btnGetAVAddress').removeAttr('disabled');
            $('#btnCustomerGetAVAddress').removeAttr('disabled');
        }


        @if((ViewBag.WizardLocked != null && ViewBag.WizardLocked == true) || (ViewBag.CSA != null && ViewBag.CSA == true))
        {
            @Html.Raw("$('#mainForm :input').not('#cboHistoric').attr('disabled', true); $('#saveBtn').attr('disabled', true);")
        }

    });


    function addSeparatorsNF(nStr, inD, outD, sep) {
        nStr += '';
        var dpos = nStr.indexOf(inD);
        var nStrEnd = '';
        if (dpos != -1) {
            nStrEnd = outD + nStr.substring(dpos + 1, nStr.length);
            nStr = nStr.substring(0, dpos);
        }
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(nStr)) {
            nStr = nStr.replace(rgx, '$1' + sep + '$2');
        }
        return nStr + nStrEnd;
    }

    function InsPaysAll(sText) {
        if ($("#PriceSplit :selected").text().indexOf("insurance company pays all") > -1 && sText.indexOf("Customer pays 100%") > -1) {
            alert("You have selected for the Insurance Company to pay all. You cannot choose for the customer to pay this charge.");
            return false;
        }
        else {
            return true;
        }
    }

    function roundNumber(num, dec) {
    
        num = num.toString().replace(/\,/g, '.');
        var result = Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
        if (region == 'Scandinavia') {
            result = result.toString().replace(/\./g, ',');
        }
        else {
            result = result.toString().replace(/\,/g, '.');
        }
        return result;
    }

    function IsNumeric(val) {
        if (isNaN(parseFloat(val))) {
            //alert("The value in this box needs to be a number. Reverting to zero.");
            return 0;
        }
        return val;
    }

    function CompareDates() {
        out = $("#checkOutDateDate").val();
        cin = $("#checkInDateDate").val();

        var oDD = out.substring(0, 2);
        var oMM = out.substring(3, 5);
        var oYYYY = out.substring(6, 10);

        oMM = parseInt(oMM, 0) - 1;

        var iDD = cin.substring(0, 2);
        var iMM = cin.substring(3, 5);
        var iYYYY = cin.substring(6, 10);

        iMM = parseFloat(iMM, 0) - 1;

        var dOut = new Date(oYYYY, oMM, oDD);
        var dIn = new Date(iYYYY, iMM, iDD);

        numberOfDays = (dIn - dOut);
        numberOfDays = parseInt(numberOfDays / (24 * 3600 * 1000)) + 1;
        if (numberOfDays == 0) {
            numberOfDays = 1;
        }
        $("#NumDaysRental").text(numberOfDays);       
    }

    $('input:radio').change(function () {
        if ($(this).attr('checked') == true) {
            if ($(this).val() == "1") {
                $("#PaymentMethod_CustomerPays").text("0");
            }
            if ($(this).val() == "2") {
                $("#PaymentMethod_CustomerPays").text("@ViewBag.InvoiceFee");
            }
        }
        CalculateTotals();
    });


    function sleep(delay) {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    }


    function GenerateInvoices() {
        var dta = "id=" + $("#RentalAgreementNumber").val();
        var a = document.location;
        var functionPath = "http://webportal/sbair/invoice/Generate/";

        $.blockUI({ message: '<br /><img src="http://webportal/sbair/content/images/ajax-loader.gif" /><h2>&nbsp;Generating Invoices - please wait....</h2>' });


        $.ajax({
            url: functionPath,
            type: "POST",
            async: true,
            data: dta,
            success: function (msg) {
            
                sleep(5000);
                window.open(msg.customerpath, "CustomerInvoice");
                sleep(5000);
                window.open(msg.insurancepath, "InsuranceInvoice");

                $.unblockUI();

            },
            error: function (msg) {
                alert("Error occured generating invoices.");
                $.unblockUI();
            }
        });


    }



    function CalculateTotals() {

        if ($("#PriceSplit").val() == -1) {
            return false;
        }

        if ($("#VATSplit").val() == -1) {
            return false;
        }

//        var tm = $("#TMDiscount").val();
//        if(tm == ""){ tm = 0; }
        var km = $("#KmCoveredByInsurance").val();
        if(km == ""){ km = 0; }
        var d = $("#DaysCoveredByInsurance").val();
        if(d == ""){ d = 0; }
        var amtCov = $("#AmountCoveredByInsurance").val();
        if(amtCov == ""){ amtCov = 0; }
        if(parseFloat($("#AlreadyPaidByCustomerAmount").val()) < 0) {$("#AlreadyPaidByCustomerAmount").val('0');}
        if(parseFloat($("#AlreadyPaidByInsuranceAmount").val()) < 0) {$("#AlreadyPaidByInsuranceAmount").val('0');}

        if(parseFloat($("#MiscCostsCustomerPays").val()) < 0) {$("#MiscCostsCustomerPays").val('0');}
        if(parseFloat($("#MiscCostsInsurancePays").val()) < 0) {$("#MiscCostsInsurancePays").val('0');}


    var dta = "ranumber=" + $("#RentalAgreementNumber").val() + "&pricesplit=" + $("#PriceSplit").val() + "&vatsplit=" + $("#VATSplit").val();
        dta += "&TotalRentalChargedAmount=" + $("#PriceSplitTotal").val() + "&VATTotal=" + $("#VATTotal").val();

        dta += "&AirportFeeSplit=" + $("#AirportFeeSplit").val() + "&CDWSplit=" + $("#CDWSplit").val() + "&RAISplit=" + $("#RAISplit").val();
        dta += "&VRFSplit=" + $("#VRFSplit").val() + "&OneWayFeeSplit=" + $("#OneWayFeeSplit").val();
        dta += "&RefuelingSplit=" + $("#RefuelingSplit").val() + "&DeliverySplit=" + $("#DeliveryFeeSplit").val() + "&ReturnFeeSplit=" + $("#ReturnFeeSplit").val();
        dta += "&MiscCostsCustomerPays=" + $("#MiscCostsCustomerPays").val(); // + "&OtherCostsSplit=" + $("#OtherFeeSplit").val();

        dta += "&SuperCDWTotal=" + $("#SuperCDWTotal").val() + "&RAITotal=" + $("#RAITotal").val() + "&AirportFeeTotal=" + $("#AirportFeeTotal").val();
        dta += "&OneWayFeeTotal=" + $("#OneWayTotal").val();
        dta += "&RefuelingTotal=" + $("#RefuellingTotal").val() + "&DeliveryTotal=" + $("#DeliveryTotal").val() + "&ReturnFeeTotal=" + $("#ReturnTotal").val();
        dta += "&VRFTotal=" + $("#VRFTotal").val() + "&MiscCostsInsurancePays=" + $("#MiscCostsInsurancePays").val();// + "&OtherCostTotal=" + $("#OtherFeeTotal").val();

        dta += "&RentalCheckoutDateTime=" + $("#RentalCheckoutDateTime").val() + "&RentalCheckinDateTime=" + $("#checkInDateDate").val() + ' ' + $("#checkInDateTime").val();
        dta += "&InvoiceFee=" + $("#PaymentMethod_CustomerPays").text() + "&KMRate=" + $("#RentalMileageRateAmount").val() + "&DayRate=" + $("#RentalDailyRateAmount").val();
        dta += "&WeekRate=" + $("#RentalWeeklyRateAmount").val() + "&MonthRate=" + $("#RentalMonthlyRateAmount").val() + "&KMDriven=" + $("#KMCheckout").val();

        dta += "&RentalCDWPerDayAmount=" + $("#RentalCDWPerDayAmount").val() + "&RentalPAIPerDayAmount=" + $("#RentalPAIPerDayAmount").val();
        dta += "&NbKmCoveredByInsurance=" + km + "&NbDaysCoveredByInsurance=" + d;
        dta += "&KMCheckin=" + $("#KMCheckin").val() + "&AmountCoveredByInsurance=" + amtCov;

        dta += "&RentalTPPerDayAmount=" + $("#RentalALIPerDayAmount").val() + "&SuperTPSplit=" + $("#SuperTPSplit").val() + "&SuperTPTotal=" + $("#SuperTPTotal").val();
        dta += "&OverrideDaysAmount=" + $("#OverrideDaysAmount").val() + "&OverrideKMAmount=" + $("#OverrideKMAmount").val();
        dta += "&RentalId="  + $("#RentalId").val(); // + "&TMDiscount=" + tm;

        var a = document.location;
        var functionPath = "@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"])listing/Calculate/";

        //alert(dta);

        $.ajax({
            url: functionPath,
            type: "POST",
            async: false,
            data: dta,
            success: function (msg) {

                if (msg.errMsg != "" && msg.errMsg != null) {

                    alert(msg.errMsg);
                    $("#saveBtn").attr("disabled", true);
                    $("#Invoices").attr("disabled", true);

                    $("#mainForm :input").attr("disabled", true);
                    return;
                }

                var c = 0;
                var i = 0;

                var overallTotal = 0;

                $("#mainForm :input").attr("disabled", false);

                $("#saveBtn").attr("disabled", false);
                $("#Update").attr("disabled", false);

                $("#SuperCDWCustomerPays").val(roundNumber(msg.superCDW_C, 2));
                $("#SuperCDW_InsurancePays").text(roundNumber(msg.superCDW_I, 2));
                c = c + msg.superCDW_C;
                i = i + msg.superCDW_I;
                if($("#SuperCDWTotal").val() == '' && $("#CDWSplit").val() > '-1') { $("#SuperCDWTotal").val(roundNumber(parseFloat(msg.superCDW_C) + parseFloat(msg.superCDW_I), 2)); }
                //if($("#CDWSplit").val() == '-1') {$("#SuperCDWTotal").val('')}
                overallTotal += parseFloat(msg.superCDW_C) + parseFloat(msg.superCDW_I);

                $("#SuperTPCustomerPays").val(roundNumber(msg.tp_C, 2));
                $("#SuperTP_InsurancePays").text(roundNumber(msg.tp_I, 2));
                c = c + msg.tp_C;
                i = i + msg.tp_I;
                if($("#SuperTPTotal").val() == '' && $("#SuperTPSplit").val() > '-1') { $("#SuperTPTotal").val(roundNumber(parseFloat(msg.tp_C) + parseFloat(msg.tp_I), 2)); }
                //if($("#SuperTPSplit").val() == '-1') {$("#SuperTPTotal").val('')}
                overallTotal += parseFloat(msg.tp_C) + parseFloat(msg.tp_I);


                $("#RAICustomerPays").val(roundNumber(msg.rai_C, 2));
                $("#RAI_InsurancePays").text(roundNumber(msg.rai_I, 2));
                c = c + msg.rai_C;
                i = i + msg.rai_I;
                if($("#RAITotal").val() == '' && $("#RAISplit").val() > '-1') { $("#RAITotal").val(roundNumber(parseFloat(msg.rai_C) + parseFloat(msg.rai_I), 2)); }
                //if($("#RAISplit").val() == '-1') {$("#RAITotal").val('')}
                overallTotal += parseFloat(msg.rai_C) + parseFloat(msg.rai_I);

                $("#VRFCustomerPays").val(roundNumber(msg.vrf_C, 2));
                $("#VRFFee_InsurancePays").text(roundNumber(msg.vrf_I, 2));
                c = c + msg.vrf_C;
                i = i + msg.vrf_I;
                overallTotal += parseFloat(msg.vrf_C) + parseFloat(msg.vrf_I);

                //$("#VRFTotal").val(roundNumber((msg.vrf_C) + parseFloat(msg.vrf_I), 2));
//                var z = roundNumber(msg.vat_C, 2);
//                alert(z); 
                $("#VATCustomerPays").val(roundNumber(msg.vat_C, 9));
                $("#VATSplit_InsurancePays").text(roundNumber(msg.vat_I, 9));
                c = c + parseFloat($("#VATCustomerPays").val().replace(/\,/g, '.'));
                i = i + msg.vat_I;
                overallTotal += parseFloat(msg.vat_C) + parseFloat(msg.vat_I);

                $("#VATTotal").val(roundNumber((msg.vat_C) + parseFloat(msg.vat_I), 9));

                $("#AirportFeeCustomerPays").val(roundNumber(msg.air_C, 2));
                $("#AirportFee_InsurancePays").text(roundNumber(msg.air_I, 2));
                c = c + msg.air_C;
                i = i + msg.air_I;
                overallTotal += parseFloat(msg.air_C) + parseFloat(msg.air_I);

                //$("#AirportFeeTotal").val(roundNumber((msg.air_C) + parseFloat(msg.air_I), 2));

                $("#RefuellingCustomerPays").val(roundNumber(msg.refuel_C, 2));
                $("#RefuellingFee_InsurancePays").text(roundNumber(msg.refuel_I, 2));
                c = c + msg.refuel_C;
                i = i + msg.refuel_I;
                overallTotal += parseFloat(msg.refuel_C) + parseFloat(msg.refuel_I);

                //$("#RefuellingFeeTotal").val(roundNumber((msg.refuel_C) + parseFloat(msg.refuel_I), 2));

                $("#DeliveryCustomerPays").val(roundNumber(msg.del_C, 2));
                $("#DeliveryFee_InsurancePays").text(roundNumber(msg.del_I, 2));
                c = c + msg.del_C;
                i = i + msg.del_I;
                overallTotal += parseFloat(msg.del_C) + parseFloat(msg.del_I);


                $("#ReturnCustomerPays").val(roundNumber(msg.ret_C, 2));
                $("#ReturnFee_InsurancePays").text(roundNumber(msg.ret_I, 2));
                c = c + msg.ret_C;
                i = i + msg.ret_I;
                overallTotal += parseFloat(msg.ret_C) + parseFloat(msg.ret_I);


                $("#OneWayCustomerPays").val(roundNumber(msg.ow_C, 2));
                $("#OneWayFee_InsurancePays").text(roundNumber(msg.ow_I, 2));
                c = c + msg.ow_C;
                i = i + msg.ow_I;
                overallTotal += parseFloat(msg.ow_C) + parseFloat(msg.ow_I);


                //$("#OneWayTotal").val(roundNumber((msg.ow_C) + parseFloat(msg.ow_I), 2));

                $("#PriceSplitCustomerPays").val(roundNumber(msg.price_C, 9));
                $("#PriceSplit_InsurancePays").text(roundNumber(msg.price_I, 9));
                c = c + msg.price_C;
                i = i + msg.price_I;

                $("#PriceSplitTotal").val(roundNumber((msg.price_C) + parseFloat(msg.price_I), 9));
                overallTotal += parseFloat(msg.price_C) + parseFloat(msg.price_I);

//                $("#MiscCostsCustomerPays").val(roundNumber(msg.misc_C, 2));
//                $("#MiscCosts_InsurancePays").text(roundNumber(msg.misc_I, 2));
//                c = c + msg.misc_C;
//                i = i + msg.misc_I;
//                overallTotal += parseFloat(msg.misc_C) + parseFloat(msg.misc_I);
                //$("#MiscCostsTotal").val(roundNumber((msg.misc_C) + parseFloat(msg.misc_I), 2));

//                $("#OtherFeeCustomerPays").val(roundNumber(msg.other_C, 2));
//                $("#OtherCosts_InsurancePays").text(roundNumber(msg.other_I, 2));
//                c = c + msg.other_C;
//                i = i + msg.other_I;

                $("#NumDaysRental").text(msg.Days);
                $("#NumKMDriven").text(msg.Kilometers);
                numberOfDays = msg.Days;

                c = c + parseFloat(roundNumber($("#PaymentMethod_CustomerPays").text(), 2));
                i = parseFloat(roundNumber(i.toString().replace(/\,/g, '.'), 9).replace(/\,/g, '.'));

                overallTotal = parseFloat(roundNumber(overallTotal.toString().replace(/\,/g, '.'), 9).replace(/\,/g, '.'));

                c = parseFloat(roundNumber(overallTotal, 2).replace(/\,/g, '.')) - parseFloat(roundNumber(i, 2).replace(/\,/g, '.'));

                c = c - parseFloat($("#AlreadyPaidByCustomerAmount").val().replace(/\,/g, '.'));
                i = i - parseFloat($("#AlreadyPaidByInsuranceAmount").val().replace(/\,/g, '.'));

                c = c + parseFloat($("#MiscCostsCustomerPays").val().replace(/\,/g, '.'));
                i = i + parseFloat($("#MiscCostsInsurancePays").val().replace(/\,/g, '.'));

                overallTotal = overallTotal + parseFloat($("#MiscCostsCustomerPays").val().replace(/\,/g, '.')) + parseFloat($("#MiscCostsInsurancePays").val().replace(/\,/g, '.'));
                overallTotal = overallTotal - parseFloat($("#AlreadyPaidByCustomerAmount").val().replace(/\,/g, '.')) - parseFloat($("#AlreadyPaidByInsuranceAmount").val().replace(/\,/g, '.'));


                //totals
                $("#InvoiceAmountCustomer").val(roundNumber(c, 2)); //roundNumber(parseFloat($("#PriceSplitCustomerPays").val()) + parseFloat($("#OtherFeeCustomerPays").val()) + parseFloat($("#SuperCDWCustomerPays").val()) + parseFloat($("#MiscCostsCustomerPays").val()) + parseFloat($("#RAICustomerPays").val()) + parseFloat($("#RefuellingCustomerPays").val()) + parseFloat($("#OneWayCustomerPays").val()) + parseFloat($("#VRFCustomerPays").val()) + parseFloat($("#ReturnCustomerPays").val()) + parseFloat($("#DeliveryCustomerPays").val()) + parseFloat($("#VATCustomerPays").val()) + parseFloat($("#AirportFeeCustomerPays").val()) + parseFloat($("#PaymentMethod_CustomerPays").text()) - parseFloat($("#AlreadyPaidByCustomerAmount").val()), 2));
                $("#InvoiceAmountInsurance").val(roundNumber(i, 2)); //roundNumber(parseFloat($("#PriceSplit_InsurancePays").text()) + parseFloat($("#OtherCosts_InsurancePays").text()) + parseFloat($("#SuperCDW_InsurancePays").text()) + parseFloat($("#MiscCosts_InsurancePays").text()) + parseFloat($("#RAI_InsurancePays").text()) + parseFloat($("#RefuellingFee_InsurancePays").text()) + parseFloat($("#VATSplit_InsurancePays").text()) + parseFloat($("#AirportFee_InsurancePays").text()) + parseFloat($("#VRFFee_InsurancePays").text()) + parseFloat($("#OneWayFee_InsurancePays").text()) + parseFloat($("#ReturnFee_InsurancePays").text()) + parseFloat($("#DeliveryFee_InsurancePays").text()) - parseFloat($("#AlreadyPaidByInsuranceAmount").val()), 2));
                var tot = 0.00;
                tot = c + i;
                //$("#GrandTotal").text(roundNumber(tot, 2));
                $("#GrandTotal").text(roundNumber(overallTotal, 2));


                var c_diff = 0.00;
                var i_diff = 0.00;
                c_diff = c - msg.c_previousTotal;
                i_diff = i - msg.i_previousTotal;
                
                var p_tot = 0.00;
                p_tot = msg.c_previousTotal + msg.i_previousTotal;
                var tot_diff = 0.00;
                tot_diff = tot - p_tot;

                if (msg.hasPrevious == 1) {
                    $("#previousCustomerTotal").text(roundNumber(c_diff, 2));
                    $("#previousInsuranceTotal").text(roundNumber(i_diff, 2));
                    $("#previousGrandTotal").text(roundNumber(tot_diff, 2));
                } else {
                    $("#previousCustomerTotal").text('n/a');
                    $("#previousInsuranceTotal").text('n/a');
                    $("#previousGrandTotal").text('n/a');
                }
            },
            error: function (msg) {
            //alert(msg);
                            alert("There was an error while performing the split billing calculation. This could be caused my incorrect mileage figures. Please check the figures and inform the database team if you are still experiencing problems.");

            }
        });
    }


</script>


