﻿@model avis.sbair.Entities.SplitBilling

<script src="../../Scripts/jquery.meio.mask.js" type="text/javascript"></script>
<script type="text/javascript">

    var region = '@ViewBag.Region';
    var editable = '@ViewBag.Editable';

</script>
<div style="width:91%; text-align:right;"><span style="font-size:large; color:Red;">*</span> = Action Required</div>

<fieldset style="width:91%"><legend>Customer / Insurance Billing Splits</legend>

@Html.HiddenFor(model => model.RentalMileageRateAmount)
@Html.HiddenFor(model => model.RentalDailyRateAmount)
@Html.HiddenFor(model => model.RentalWeeklyRateAmount)
@Html.HiddenFor(model => model.RentalMonthlyRateAmount)
@Html.HiddenFor(model => model.RentalCheckinLocationText)
@Html.HiddenFor(model => model.RentalCheckoutLocationText)
@Html.HiddenFor(model => model.RentalCheckoutDateTime)
@Html.HiddenFor(model => model.RentalCheckinDateTime)
@Html.HiddenFor(model => model.RentalCDWPerDayAmount)
@Html.HiddenFor(model => model.RentalPAIPerDayAmount)

<table width="100%">
<tr>
<td colspan="3">

                                <div class="editor-label">
                                    <span style="font-size: large; color: Red;">*</span> @Html.LabelFor(model => model.RentalCheckinDateTime, "Check in") 
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("checkInDateDate", this.Model.RentalCheckinDateTime.Value.ToShortDateString(), new { style = "width:70px; margin-top:6px;" })
                                    &nbsp;@@&nbsp;
                                    @Html.TextBox("checkInDateTime", this.Model.RentalCheckinDateTime.Value.ToShortTimeString(), new { style = "width:40px;" })
                                     Days:<label id="NumDaysRental"></label>
                                    @Html.ValidationMessageFor(model => model.RentalCheckinDateTime)
                                </div>

                                <div class="editor-label">
                                    <span style="font-size: large; color: Red;">*</span> @Html.LabelFor(model => model.KMCheckin, "Kilometers at Check in")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.KMCheckin, new { style = "width:70px; margin-top:6px;", @class = "SBText" })
                                    KM:<label id="NumKMDriven"></label>
                                    @Html.ValidationMessageFor(model => model.KMCheckin)
                                </div>


                                <div class="editor-label">
                                    @Html.LabelFor(model => model.KmCoveredByInsurance, "KM Covered by Insurance")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.KmCoveredByInsurance, new { style = "width:70px;", @class = "SBDisabledText", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.KmCoveredByInsurance)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.DaysCoveredByInsurance, "Days Covered by Insurance")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.DaysCoveredByInsurance, new { style = "width:70px;", @class = "SBDisabledText", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.DaysCoveredByInsurance)
                                    <br />  <br />  
                                </div>
                                
                          

<table width="100%">
<tr style="font-weight:bold; text-decoration:underline;"><td width="40%"></td><td width="15%">Total</td><td width="15%">Customer Pays</td><td width="15%">Insurance Pays</td><td width="15%" style="display: @ViewBag.WZD;">WZD Amt</td></tr>

<tr class="gridrow">
	<td colspan="4">
        <span style="font-size: large; color: Red;">*</span><b>Price Split</b>&nbsp;<img src="../../Content/Images/Question_mark.png" alt="The overall price split." title="The overall price split." />
		@Html.Raw(ViewBag.PriceSplits)
	</td>
</tr>



<tr style="vertical-align:bottom;" class="gridrow">
<td style="background-color:white;"></td><td>@Html.TextBoxFor(model => model.PriceSplitTotal, new { @class = "SBDisabledText", @readonly = "readonly" })</td><td>@Html.TextBoxFor(model => model.PriceSplitCustomerPays, new { @readonly = "readonly", @class = "SBDisabledText", @style = "border: none;" })</td><td><label id="PriceSplit_InsurancePays"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="PriceSplit_WizrdAmount">@Decimal.Round((decimal)(Model.NetTimeDistanceAmount == null ? 0 : Model.NetTimeDistanceAmount), 2)</label></td>
</tr>

<tr class="gridrow">
	<td colspan="4">
        <span style="font-size: large; color: Red;">*</span><b>VAT Split</b>&nbsp;
		<img src="../../Content/Images/Question_mark.png" alt="The overall VAT split." title="The overall VAT split." />
		@Html.Raw(ViewBag.VATSplits)
	</td>
</tr>

<tr style="vertical-align:bottom;">
<td style="font-weight:bold;"></td><td>@Html.TextBoxFor(model => model.VATTotal, new { @class = "SBDisabledText", @readonly = "readonly" })</td><td>@Html.TextBoxFor(model => model.VATCustomerPays, new { @readonly = "readonly", @class = "SBDisabledText", @style = "border: none; background-color:white;" })</td><td><label id="VATSplit_InsurancePays"></label></td><td style="display: @ViewBag.WZD;"  valign="bottom"><label id="VATSplit_WizrdAmount">@Decimal.Round(Model.RentalVATAmount, 2)</label></td></tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Super CDW<br />@Html.DropDownListFor(model => model.CDWSplit, (IEnumerable<SelectListItem>)ViewBag.CDWSplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.SuperCDWTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.SuperCDWCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;" })</td><td><label id="SuperCDW_InsurancePays"></label></td><td style="display: @ViewBag.WZD;"  valign="bottom"><label id="SuperCDWSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalCDWAmount == null ? 0 : Model.RentalCDWAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">PAI<br />@Html.DropDownListFor(model => model.RAISplit, (IEnumerable<SelectListItem>)ViewBag.RAISplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.RAITotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.RAICustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;" })</td><td><label id="RAI_InsurancePays"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="RAISplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalPAIAmount == null ? 0 : Model.RentalPAIAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Airport Fee<br />@Html.DropDownListFor(model => model.AirportFeeSplit, (IEnumerable<SelectListItem>)ViewBag.AirportSplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.AirportFeeTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.AirportFeeCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;" })</td><td><label id="AirportFee_InsurancePays"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="AirportFeeSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalSurchargeAmount == null ? 0 : Model.RentalSurchargeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">One Way Fee<br />@Html.DropDownListFor(model => model.OneWayFeeSplit, (IEnumerable<SelectListItem>)ViewBag.OneWaySplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.OneWayTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.OneWayCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;" })</td><td><label id="OneWayFee_InsurancePays"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="OneWayFeeSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalOneWayFeeAmount == null ? 0 : Model.RentalOneWayFeeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Refuelling Fee<br />@Html.DropDownListFor(model => model.RefuelingSplit, (IEnumerable<SelectListItem>)ViewBag.RefuellingSplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.RefuellingTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.RefuellingCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;" })</td><td><label id="RefuellingFee_InsurancePays"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="RefuellingFeeSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalGasChargesAmount == null ? 0 : Model.RentalGasChargesAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">Delivery Fee<br />@Html.DropDownListFor(model => model.DeliveryFeeSplit, (IEnumerable<SelectListItem>)ViewBag.DeliverySplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.DeliveryTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.DeliveryCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;" })</td><td><label id="DeliveryFee_InsurancePays"></label></td><td style="display: @ViewBag.WZD;" valign="bottom"><label id="DeliveryFeeSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalDeliveryChargeAmount == null ? 0 : Model.RentalDeliveryChargeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Return Fee<br />@Html.DropDownListFor(model => model.ReturnFeeSplit, (IEnumerable<SelectListItem>)ViewBag.ReturnSplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.ReturnTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.ReturnCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;" })</td><td><label id="ReturnFee_InsurancePays"></label></td><td style="display: @ViewBag.WZD;"><label id="ReturnFeeSplit_WizrdAmount" valign="bottom">@Decimal.Round((decimal)(Model.RentalCollectionChargeAmount == null ? 0 : Model.RentalCollectionChargeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">VRF<br />@Html.DropDownListFor(model => model.VRFSplit, (IEnumerable<SelectListItem>)ViewBag.VRFSplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.VRFTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.VRFCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;" })</td><td><label id="VRFFee_InsurancePays"></label></td><td style="display: @ViewBag.WZD;"><label id="VRFFeeSplit_WizrdAmount" valign="bottom">@Decimal.Round((decimal)(Model.RentalContractFeeAmount == null ? 0 : Model.RentalContractFeeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;"  class="gridrow">
<td style="font-weight:bold;">Misc Fees<br /><span style="font-size:80%;">(enter details in the box)</span><br />
@Html.TextBoxFor(model => model.MiscCostRemarks, new { @class = "SBText", @style = "width:180px;" })<br />@Html.DropDownListFor(model => model.MiscCostsSplit, (IEnumerable<SelectListItem>)ViewBag.MiscSplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.MiscCostsTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.MiscCostsCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none;" })</td><td><label id="MiscCosts_InsurancePays"></label></td><td style="display: @ViewBag.WZD;"><label id="MiscCostsSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalMiscChargeAmount == null ? 0 : Model.RentalMiscChargeAmount), 2)</label></td>
</tr>

<tr style="height:50px; vertical-align:bottom;">
<td style="font-weight:bold;">Other Costs<br />@Html.DropDownListFor(model => model.OtherFeeSplit, (IEnumerable<SelectListItem>)ViewBag.OtherSplits, new { style = "margin-top:5px;" })</td><td>@Html.TextBoxFor(model => model.OtherFeeTotal, new { @class = "SBText" })</td><td>@Html.TextBoxFor(model => model.OtherFeeCustomerPays, new { @class = "SBDisabledText", @readonly = "readonly", @style = "border: none; background-color:white;" })</td><td><label id="OtherCosts_InsurancePays"></label></td><td style="display: @ViewBag.WZD;"><label id="OtherCostsSplit_WizrdAmount">@Decimal.Round((decimal)(Model.RentalOtherCosts == null ? 0 : Model.RentalOtherCosts), 2)</label></td>
</tr>

<tr style="height:50px;"  class="gridrow">
<td style="font-weight:bold;">Invoice Fee
<!--<input type="radio" name="PM" id="PM_Cash" value="1" @if(Model.InvoiceFeeCustomerPays == 0)
                                                         { @Html.Raw("checked='checked'");
                                                         } /> Card/Cash  <input type="radio" name="PM" id="PM_Invoice" @if(Model.InvoiceFeeCustomerPays > 0)
                                                                                                                       { @Html.Raw("checked='checked'");
                                                                                                                       } value="2" /> Invoice--></td><td><label id="InvFee">@Decimal.Round((decimal)Model.RentalRenterInvoiceFeeAmount, 2)</label></td><td><label id="PaymentMethod_CustomerPays">@Model.RentalRenterInvoiceFeeAmount</label></td><td></td><td style="display: @ViewBag.WZD;"></td>
</tr>

<tr style="height:50px;">
<td style="font-weight:bold;">Already Paid / Covered</td><td></td><td>@Html.TextBoxFor(model => model.AlreadyPaidByCustomerAmount, new { style = "width:60px;" })</td><td>@Html.TextBoxFor(model => model.AlreadyPaidByInsuranceAmount, new { style = "width:60px;" })</td><td style="display: @ViewBag.WZD;"></td>
</tr>

<tr style="height:50px; font-weight:bold;" class="gridrow">
<td>Totals</td><td><label id="GrandTotal"></label></td><td>@Html.TextBoxFor(model => model.InvoiceAmountCustomer, new { @class = "SBDisabledText", @readonly = "readonly" })</td><td>@Html.TextBoxFor(model => model.InvoiceAmountInsurance, new { @class = "SBDisabledText", @readonly = "readonly" })</td><td style="display: @ViewBag.WZD;"></td>
</tr>

@{ if(ViewBag.Status == "Exception")
   {
<tr style="height:50px; font-weight:bold;" class="gridrow">
<td>Wizard Amounts</td><td>&nbsp;</td><td>@Decimal.Round(ViewBag.RentalRenterTotalAmount, 2)</td><td>@Decimal.Round(ViewBag.RentalInsuranceTotalAmount, 2)</td><td style="display: @ViewBag.WZD;"></td>
</tr>
   }
    }
    <tr style="height:50px; font-weight:bold;" class="gridrow">
<td colspan="5"><b>Differanser upp till två kronor, det blir justerat vid faktura produktion det ska ni inte bry er om</b></td>
</tr>
</table>
</td>
</tr>


</table>
</fieldset>


<script language="javascript" type="text/javascript">




    $(document).ready(function () {


        chkOut = $("#checkOutDateDate").val();
        chkIn = $("#checkInDateDate").val();

        $("#Invoices").hide();

        if (region == 'Scandinavia') {
            $("#SuperCDWTotal").val(roundNumber(parseFloat($("#SuperCDWTotal").val().toString().replace(/\./g, ',')), 2));
            $("#RAITotal").val(roundNumber(parseFloat($("#RAITotal").val().toString().replace(/\./g, ',')), 2));
            $("#AirportFeeTotal").val(roundNumber(parseFloat($("#AirportFeeTotal").val().toString().replace(/\./g, ',')), 2));
            $("#OneWayTotal").val(roundNumber(parseFloat($("#OneWayTotal").val().toString().replace(/\./g, ',')), 2));
            $("#RefuellingTotal").val(roundNumber(parseFloat($("#RefuellingTotal").val().toString().replace(/\./g, ',')), 2));
            $("#DeliveryTotal").val(roundNumber(parseFloat($("#DeliveryTotal").val().toString().replace(/\./g, ',')), 2));
            $("#ReturnTotal").val(roundNumber(parseFloat($("#ReturnTotal").val().toString().replace(/\./g, ',')), 2));
            $("#VRFTotal").val(roundNumber(parseFloat($("#VRFTotal").val().toString().replace(/\./g, ',')), 2));
            $("#MiscCostsTotal").val(roundNumber(parseFloat($("#MiscCostsTotal").val().toString().replace(/\./g, ',')), 2));
            $("#OtherFeeTotal").val(roundNumber(parseFloat($("#OtherFeeTotal").val().toString().replace(/\./g, ',')), 2));
            $("#AlreadyPaidByInsuranceAmount").val(roundNumber(parseFloat($("#AlreadyPaidByInsuranceAmount").val().toString().replace(/\./g, ',')), 2));
            $("#AlreadyPaidByCustomerAmount").val(roundNumber(parseFloat($("#AlreadyPaidByCustomerAmount").val().toString().replace(/\./g, ',')), 2));
            $("#InvoiceAmountCustomer").val(roundNumber(parseFloat($("#InvoiceAmountCustomer").val().toString().replace(/\./g, ',')), 2));
            $("#InvoiceAmountInsurance").val(roundNumber(parseFloat($("#InvoiceAmountInsurance").val().toString().replace(/\./g, ',')), 2));
            $("#PaymentMethod_CustomerPays").text(roundNumber(parseFloat($("#PaymentMethod_CustomerPays").text().toString().replace(/\./g, ',')), 2));

        }
        else {

            $("#SuperCDWTotal").val(roundNumber(parseFloat($("#SuperCDWTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#RAITotal").val(roundNumber(parseFloat($("#RAITotal").val().toString().replace(/\,/g, '.')), 2));
            $("#AirportFeeTotal").val(roundNumber(parseFloat($("#AirportFeeTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#OneWayTotal").val(roundNumber(parseFloat($("#OneWayTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#RefuellingTotal").val(roundNumber(parseFloat($("#RefuellingTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#DeliveryTotal").val(roundNumber(parseFloat($("#DeliveryTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#ReturnTotal").val(roundNumber(parseFloat($("#ReturnTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#VRFTotal").val(roundNumber(parseFloat($("#VRFTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#MiscCostsTotal").val(roundNumber(parseFloat($("#MiscCostsTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#OtherFeeTotal").val(roundNumber(parseFloat($("#OtherFeeTotal").val().toString().replace(/\,/g, '.')), 2));
            $("#AlreadyPaidByInsuranceAmount").val(roundNumber(parseFloat($("#AlreadyPaidByInsuranceAmount").val().toString().replace(/\,/g, '.')), 2));
            $("#AlreadyPaidByCustomerAmount").val(roundNumber(parseFloat($("#AlreadyPaidByCustomerAmount").val().toString().replace(/\,/g, '.')), 2));
            $("#InvoiceAmountCustomer").val(roundNumber(parseFloat($("#InvoiceAmountCustomer").val().toString().replace(/\,/g, '.')), 2));
            $("#InvoiceAmountInsurance").val(roundNumber(parseFloat($("#InvoiceAmountInsurance").val().toString().replace(/\,/g, '.')), 2));
            $("#PaymentMethod_CustomerPays").text(roundNumber(parseFloat($("#PaymentMethod_CustomerPays").text().toString().replace(/\,/g, '.')), 2));
        }


        //        $("#SuperCDWTotal").val(roundNumber(parseFloat($("#SuperCDWTotal").val()), 2));
        //        $("#RAITotal").val(roundNumber(parseFloat($("#RAITotal").val()), 2));
        //        $("#AirportFeeTotal").val(roundNumber(parseFloat($("#AirportFeeTotal").val()), 2));
        //        $("#OneWayTotal").val(roundNumber(parseFloat($("#OneWayTotal").val()), 2));
        //        $("#RefuellingTotal").val(roundNumber(parseFloat($("#RefuellingTotal").val()), 2));
        //        $("#DeliveryTotal").val(roundNumber(parseFloat($("#DeliveryTotal").val()), 2));
        //        $("#ReturnTotal").val(roundNumber(parseFloat($("#ReturnTotal").val()), 2));
        //        $("#VRFTotal").val(roundNumber(parseFloat($("#VRFTotal").val()), 2));
        //        $("#MiscCostsTotal").val(roundNumber(parseFloat($("#MiscCostsTotal").val()), 2));
        //        $("#OtherFeeTotal").val(roundNumber(parseFloat($("#OtherFeeTotal").val()), 2));
        //        $("#AlreadyPaidByInsuranceAmount").val(roundNumber(parseFloat($("#AlreadyPaidByInsuranceAmount").val()), 2));
        //        $("#AlreadyPaidByCustomerAmount").val(roundNumber(parseFloat($("#AlreadyPaidByCustomerAmount").val()), 2));
        //        $("#InvoiceAmountCustomer").val(roundNumber(parseFloat($("#InvoiceAmountCustomer").val()), 2));
        //        $("#InvoiceAmountInsurance").val(roundNumber(parseFloat($("#InvoiceAmountInsurance").val()), 2));
        //        $("#PaymentMethod_CustomerPays").text(roundNumber(parseFloat($("#PaymentMethod_CustomerPays").text()), 2));

        $("#PriceSplit").change(function () {
            if ($("#PriceSplit :selected").text().indexOf("insurance company pays all") > -1) {
                var ok = true;
                if ($("#CDWSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#AirportFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#OneWayFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#RefuelingSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#DeliveryFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#ReturnFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#VRFSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#MiscCostsSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#OtherFeeSplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }
                if ($("#RAISplit :selected").text().indexOf("Customer pays 100%") > -1) { ok = false; }

                /*
                if (ok == false) {
                alert("Elsewhere you have selected for the Customer to pay all. You cannot choose for the Insurance to pay until you change this.");
                $("#PriceSplit").attr('selectedIndex', 0);
                return false
                }
                */
            }

            if ($("#PriceSplit :selected").text().indexOf("Assistance ") > -1) {
                $("#KmCoveredByInsurance").attr({ readonly: false });
                $("#KmCoveredByInsurance").attr({ "class": 'none' });
                $("#DaysCoveredByInsurance").attr({ readonly: false });
                $("#DaysCoveredByInsurance").attr({ "class": 'none' });

            }
            else {
                $("#KmCoveredByInsurance").attr({ readonly: true });
                $("#KmCoveredByInsurance").attr({ "class": 'SBDisabledText' });
                $("#DaysCoveredByInsurance").attr({ readonly: true });
                $("#DaysCoveredByInsurance").attr({ "class": 'SBDisabledText' });

            }

            CalculateTotals();
        });

        $("#VATSplit").change(function () {
            CalculateTotals();
        });

        $("#CDWSplit").change(function () {
            if (InsPaysAll($("#CDWSplit :selected").text()) == false) { $("#CDWSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#RAISplit").change(function () {
            if (InsPaysAll($("#RAISplit :selected").text()) == false) { $("#RAISplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#AirportFeeSplit").change(function () {
            if (InsPaysAll($("#AirportFeeSplit :selected").text()) == false) { $("#AirportFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#OneWayFeeSplit").change(function () {
            if (InsPaysAll($("#OneWayFeeSplit :selected").text()) == false) { $("#OneWayFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#RefuelingSplit").change(function () {
            if (InsPaysAll($("#RefuelingSplit :selected").text()) == false) { $("#RefuelingSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#DeliveryFeeSplit").change(function () {
            if (InsPaysAll($("#DeliveryFeeSplit :selected").text()) == false) { $("#DeliveryFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#ReturnFeeSplit").change(function () {
            if (InsPaysAll($("#ReturnFeeSplit :selected").text()) == false) { $("#ReturnFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#VRFSplit").change(function () {
            if (InsPaysAll($("#VRFSplit :selected").text()) == false) { $("#VRFSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#MiscCostsSplit").change(function () {
            if (InsPaysAll($("#MiscCostsSplit :selected").text()) == false) { $("#MiscCostsSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });

        $("#OtherFeeSplit").change(function () {
            if (InsPaysAll($("#OtherFeeSplit :selected").text()) == false) { $("#OtherFeeSplit").attr('selectedIndex', 0); return; }
            CalculateTotals();
        });


        $("#checkInDateDate").change(function () {

            out = $("#checkOutDateDate").val();
            cin = $("#checkInDateDate").val();

            var oDD = out.substring(0, 2);
            var oMM = out.substring(3, 5);
            var oYYYY = out.substring(6, 10);

            oMM = parseInt(oMM, 0) - 1;

            var iDD = cin.substring(0, 2);
            var iMM = cin.substring(3, 5);
            var iYYYY = cin.substring(6, 10);

            iMM = parseFloat(iMM, 0) - 1;

            var dOut = new Date(oYYYY, oMM, oDD);
            var dIn = new Date(iYYYY, iMM, iDD);

            if (dIn > dOut) {
                $("#mainForm :input").attr("disabled", false);
            }
            else {
                $("#mainForm :input").attr("disabled", true);
                alert("In order to perform a calulation the check in date must be later than the check out date. All other inputs have been disabled until this value is updated.");
                $("#checkInDateDate").attr("disabled", false);
            }
            CalculateTotals();
        });

        $("#checkInDateTime").setMask('time');

        $("#checkInDateTime").change(function () {
            CalculateTotals();
        });


        $("#DaysCoveredByInsurance").keyup(function () {
            //$("#DaysCoveredByInsurance").val(IsNumeric($("#DaysCoveredByInsurance").val()));
            CalculateTotals();
        });

        $("#KMCheckin").keyup(function () {
            CalculateTotals();
        });

        $("#KmCoveredByInsurance").keyup(function () {
            //$("#KmCoveredByInsurance").val(IsNumeric($("#KmCoveredByInsurance").val()));
            CalculateTotals();
        });

        $("#SuperCDWTotal").keyup(function () {
            //$("#SuperCDWTotal").val(IsNumeric($("#SuperCDWTotal").val()));
            CalculateTotals();
        });

        $("#RAITotal").keyup(function () {
            //$("#RAITotal").val(IsNumeric($("#RAITotal").val()));
            CalculateTotals();
        });

        $("#AirportFeeTotal").keyup(function () {
            //$("#AirportFeeTotal").val(IsNumeric($("#AirportFeeTotal").val()));
            CalculateTotals();
        });

        $("#RefuellingTotal").keyup(function () {
            //$("#RefuellingTotal").val(IsNumeric($("#RefuellingTotal").val()));
            CalculateTotals();
        });

        $("#OneWayTotal").keyup(function () {
            //$("#OneWayTotal").val(IsNumeric($("#OneWayTotal").val()));
            CalculateTotals();
        });

        $("#DeliveryTotal").keyup(function () {
            //$("#DeliveryTotal").val(IsNumeric($("#DeliveryTotal").val()));
            CalculateTotals();
        });

        $("#ReturnTotal").keyup(function () {
            //$("#ReturnTotal").val(IsNumeric($("#ReturnTotal").val()));
            CalculateTotals();
        });

        $("#VRFTotal").keyup(function () {
            //$("#VRFTotal").val(IsNumeric($("#VRFTotal").val()));
            CalculateTotals();
        });

        $("#AlreadyPaidByCustomerAmount").keyup(function () {
            //$("#AlreadyPaidByCustomerAmount").val(IsNumeric($("#AlreadyPaidByCustomerAmount").val()));
            CalculateTotals();
        });

        $("#AlreadyPaidByInsuranceAmount").keyup(function () {
            //$("#AlreadyPaidByInsuranceAmount").val(IsNumeric($("#AlreadyPaidByInsuranceAmount").val()));
            CalculateTotals();
        });

        $("#MiscCostsTotal").keyup(function () {
            //$("#MiscCostsTotal").val(IsNumeric($("#MiscCostsTotal").val()));
            CalculateTotals();
        });

        $("#OtherFeeTotal").keyup(function () {
            //$("#OtherFeeTotal").val(IsNumeric($("#OtherFeeTotal").val()));
            CalculateTotals();
        });

        $("#Invoices").click(function () {
            //window.open("/invoice/generate/" + $("#RentalAgreementNumber").val(), "Invoice");
            GenerateInvoices();
            return false;
        });


        CalculateTotals();
        if ($("#SuperCDWTotal").val() == 0) { $("#SuperCDWTotal").val(""); }
        if ($("#AirportFeeTotal").val() == 0) { $("#AirportFeeTotal").val(""); }
        if ($("#RAITotal").val() == 0) { $("#RAITotal").val(""); }
        if ($("#OneWayTotal").val() == 0) { $("#OneWayTotal").val(""); }
        if ($("#RefuellingTotal").val() == 0) { $("#RefuellingTotal").val(""); }
        if ($("#DeliveryTotal").val() == 0) { $("#DeliveryTotal").val(""); }
        if ($("#ReturnTotal").val() == 0) { $("#ReturnTotal").val(""); }
        if ($("#VRFTotal").val() == 0) { $("#VRFTotal").val(""); }
        if ($("#MiscCostsTotal").val() == 0) { $("#MiscCostsTotal").val(""); }
        if ($("#OtherFeeTotal").val() == 0) { $("#OtherFeeTotal").val(""); }




        //$("#PriceSplit_InsurancePays").autoNumeric({ aSep: ' ', aDec: ',' });

        //        $("#InvoiceAmountInsurance").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#SuperCDWTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#AirportFeeTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#RAITotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#OneWayTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#RefuellingTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#DeliveryTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#ReturnTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#VRFTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#MiscCostsTotal").autoNumeric({ aSep: ' ', aDec: ',' });
        //        $("#OtherFeeTotal").autoNumeric({ aSep: ' ', aDec: ',' });



        if ($("#status_text").val() != "Open" && $("#status_text").val() != "Exception") {
            if (editable != 'True') {
                $("#mainForm :input").attr("disabled", true);
            }

            //            if ($("#RentalInsuranceInvoiceNumber").val() != "" && $("#status_text").val() != "Pending") {
            //                $("#Invoices").show(); //attr("disabled", true);
            //                $("#Invoices").attr("disabled", false);
            //            }
        }



        out = $("#checkOutDateDate").val();
        cin = $("#checkInDateDate").val();

        var oDD = out.substring(0, 2);
        var oMM = out.substring(3, 5);
        var oYYYY = out.substring(6, 10);

        oMM = parseInt(oMM, 0) - 1;

        var iDD = cin.substring(0, 2);
        var iMM = cin.substring(3, 5);
        var iYYYY = cin.substring(6, 10);

        iMM = parseFloat(iMM, 0) - 1;

        var dOut = new Date(oYYYY, oMM, oDD);
        var dIn = new Date(iYYYY, iMM, iDD);

        if (dIn < dOut) {

            $("#mainForm :input").attr("disabled", true);
            alert("In order to perform a calulation the check in date must be later than the check out date. All other inputs have been disabled until this value is updated.");
            $("#checkInDateDate").attr("disabled", false);
        }

    });


    function addSeparatorsNF(nStr, inD, outD, sep) {
        nStr += '';
        var dpos = nStr.indexOf(inD);
        var nStrEnd = '';
        if (dpos != -1) {
            nStrEnd = outD + nStr.substring(dpos + 1, nStr.length);
            nStr = nStr.substring(0, dpos);
        }
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(nStr)) {
            nStr = nStr.replace(rgx, '$1' + sep + '$2');
        }
        return nStr + nStrEnd;
    }

    function InsPaysAll(sText) {
        if ($("#PriceSplit :selected").text().indexOf("insurance company pays all") > -1 && sText.indexOf("Customer pays 100%") > -1) {
            alert("You have selected for the Insurance Company to pay all. You cannot choose for the customer to pay this charge.");
            return false;
        }
        else {
            return true;
        }
    }

    function roundNumber(num, dec) {
    
        num = num.toString().replace(/\,/g, '.');
        var result = Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
        if (region == 'Scandinavia') {
            result = result.toString().replace(/\./g, ',');
        }
        else {
            result = result.toString().replace(/\,/g, '.');
        }
        return result;
    }

    function IsNumeric(val) {
        if (isNaN(parseFloat(val))) {
            //alert("The value in this box needs to be a number. Reverting to zero.");
            return 0;
        }
        return val;
    }


    $('input:radio').change(function () {
        if ($(this).attr('checked') == true) {
            if ($(this).val() == "1") {
                $("#PaymentMethod_CustomerPays").text("0");
            }
            if ($(this).val() == "2") {
                $("#PaymentMethod_CustomerPays").text("@ViewBag.InvoiceFee");
            }
        }
        CalculateTotals();
    });


    function sleep(delay) {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    }


    function GenerateInvoices() {
        var dta = "id=" + $("#RentalAgreementNumber").val();
        var a = document.location;
        var functionPath = "http://webportal/sbair/invoice/Generate/";
        //var functionPath = "http://localhost:52660/invoice/Generate/";
        

        $.blockUI({ message: '<br /><img src="http://webportal/sbair/content/images/ajax-loader.gif" /><h2>&nbsp;Generating Invoices - please wait....</h2>' });


        $.ajax({
            url: functionPath,
            type: "POST",
            async: true,
            data: dta,
            success: function (msg) {
            
                sleep(5000);
                window.open(msg.customerpath, "CustomerInvoice");
                sleep(5000);
                window.open(msg.insurancepath, "InsuranceInvoice");

                $.unblockUI();

            },
            error: function (msg) {
                alert("Error occured generating invoices.");
                $.unblockUI();
            }
        });


    }



function CalculateTotals() {

    var dta = "ranumber=" + $("#RentalAgreementNumber").val() + "&pricesplit=" + $("#PriceSplit").val() + "&vatsplit=" + $("#VATSplit").val();
        dta += "&TotalRentalChargedAmount=" + $("#PriceSplitTotal").val() + "&VATTotal=" + $("#VATTotal").val();

        dta += "&AirportFeeSplit=" + $("#AirportFeeSplit").val() + "&CDWSplit=" + $("#CDWSplit").val() + "&RAISplit=" + $("#RAISplit").val();
        dta += "&VRFSplit=" + $("#VRFSplit").val() + "&OneWayFeeSplit=" + $("#OneWayFeeSplit").val();
        dta += "&RefuelingSplit=" + $("#RefuelingSplit").val() + "&DeliverySplit=" + $("#DeliveryFeeSplit").val() + "&ReturnFeeSplit=" + $("#ReturnFeeSplit").val();
        dta += "&MiscCostsSplit=" + $("#MiscCostsSplit").val() + "&OtherCostsSplit=" + $("#OtherFeeSplit").val();

        dta += "&SuperCDWTotal=" + $("#SuperCDWTotal").val() + "&RAITotal=" + $("#RAITotal").val() + "&AirportFeeTotal=" + $("#AirportFeeTotal").val();
        dta += "&OneWayFeeTotal=" + $("#OneWayTotal").val();
        dta += "&RefuelingTotal=" + $("#RefuellingTotal").val() + "&DeliveryTotal=" + $("#DeliveryTotal").val() + "&ReturnFeeTotal=" + $("#ReturnTotal").val();
        dta += "&VRFTotal=" + $("#VRFTotal").val() + "&MiscCostsTotal=" + $("#MiscCostsTotal").val() + "&OtherCostTotal=" + $("#OtherFeeTotal").val();

        dta += "&RentalCheckoutDateTime=" + $("#RentalCheckoutDateTime").val() + "&RentalCheckinDateTime=" + $("#checkInDateDate").val() + ' ' + $("#checkInDateTime").val();
        dta += "&InvoiceFee=" + $("#PaymentMethod_CustomerPays").text() + "&KMRate=" + $("#RentalMileageRateAmount").val() + "&DayRate=" + $("#RentalDailyRateAmount").val();
        dta += "&WeekRate=" + $("#RentalWeeklyRateAmount").val() + "&MonthRate=" + $("#RentalMonthlyRateAmount").val() + "&KMDriven=" + $("#KMDriven").val();

        dta += "&RentalCDWPerDayAmount=" + $("#RentalCDWPerDayAmount").val() + "&RentalPAIPerDayAmount=" + $("#RentalPAIPerDayAmount").val();
        dta += "&NbKmCoveredByInsurance=" + $("#KmCoveredByInsurance").val() + "&NbDaysCoveredByInsurance=" + $("#DaysCoveredByInsurance").val();
        dta += "&KMCheckin=" + $("#KMCheckin").val();

        var a = document.location;
        var functionPath = "http://webportal/sbair/listing/Calculate/";
        //var functionPath = "http://localhost:52660/listing/Calculate/";
        //alert(dta);

        $.ajax({
            url: functionPath,
            type: "POST",
            async: false,
            data: dta,
            success: function (msg) {

                if (msg.errMsg != "" && msg.errMsg != null) {

                    alert(msg.errMsg);
                    $("#saveBtn").attr("disabled", true);
                    $("#Invoices").attr("disabled", true);

                    $("#mainForm :input").attr("disabled", true);
                    return;
                }

                var c = 0;
                var i = 0;

                $("#mainForm :input").attr("disabled", false);

                $("#saveBtn").attr("disabled", false);
                $("#Update").attr("disabled", false);

                $("#SuperCDWCustomerPays").val(roundNumber(msg.superCDW_C, 2));
                $("#SuperCDW_InsurancePays").text(roundNumber(msg.superCDW_I, 2));
                c = c + msg.superCDW_C;
                i = i + msg.superCDW_I;
                //$("#SuperCDWTotal").val(roundNumber((msg.superCDW_C) + parseFloat(msg.superCDW_I), 2));

                $("#RAICustomerPays").val(roundNumber(msg.rai_C, 2));
                $("#RAI_InsurancePays").text(roundNumber(msg.rai_I, 2));
                c = c + msg.rai_C;
                i = i + msg.rai_I;
                //$("#RAITotal").val(roundNumber((msg.rai_C) + parseFloat(msg.rai_I), 2));

                $("#VRFCustomerPays").val(roundNumber(msg.vrf_C, 2));
                $("#VRFFee_InsurancePays").text(roundNumber(msg.vrf_I, 2));
                c = c + msg.vrf_C;
                i = i + msg.vrf_I;

                //$("#VRFTotal").val(roundNumber((msg.vrf_C) + parseFloat(msg.vrf_I), 2));

                $("#VATCustomerPays").val(roundNumber(msg.vat_C, 2));
                $("#VATSplit_InsurancePays").text(roundNumber(msg.vat_I, 2));
                c = c + msg.vat_C;
                i = i + msg.vat_I;

                $("#VATTotal").val(roundNumber((msg.vat_C) + parseFloat(msg.vat_I), 2));

                $("#AirportFeeCustomerPays").val(roundNumber(msg.air_C, 2));
                $("#AirportFee_InsurancePays").text(roundNumber(msg.air_I, 2));
                c = c + msg.air_C;
                i = i + msg.air_I;

                //$("#AirportFeeTotal").val(roundNumber((msg.air_C) + parseFloat(msg.air_I), 2));

                $("#RefuellingCustomerPays").val(roundNumber(msg.refuel_C, 2));
                $("#RefuellingFee_InsurancePays").text(roundNumber(msg.refuel_I, 2));
                c = c + msg.refuel_C;
                i = i + msg.refuel_I;

                //$("#RefuellingFeeTotal").val(roundNumber((msg.refuel_C) + parseFloat(msg.refuel_I), 2));

                $("#DeliveryCustomerPays").val(roundNumber(msg.del_C, 2));
                $("#DeliveryFee_InsurancePays").text(roundNumber(msg.del_I, 2));
                c = c + msg.del_C;
                i = i + msg.del_I;


                $("#ReturnCustomerPays").val(roundNumber(msg.ret_C, 2));
                $("#ReturnFee_InsurancePays").text(roundNumber(msg.ret_I, 2));
                c = c + msg.ret_C;
                i = i + msg.ret_I;


                $("#OneWayCustomerPays").val(roundNumber(msg.ow_C, 2));
                $("#OneWayFee_InsurancePays").text(roundNumber(msg.ow_I, 2));
                c = c + msg.ow_C;
                i = i + msg.ow_I;

                //$("#OneWayTotal").val(roundNumber((msg.ow_C) + parseFloat(msg.ow_I), 2));

                $("#PriceSplitCustomerPays").val(roundNumber(msg.price_C, 2));
                $("#PriceSplit_InsurancePays").text(roundNumber(msg.price_I, 2));
                c = c + msg.price_C;
                i = i + msg.price_I;

                $("#PriceSplitTotal").val(roundNumber((msg.price_C) + parseFloat(msg.price_I), 2));

                $("#MiscCostsCustomerPays").val(roundNumber(msg.misc_C, 2));
                $("#MiscCosts_InsurancePays").text(roundNumber(msg.misc_I, 2));
                c = c + msg.misc_C;
                i = i + msg.misc_I;

                //$("#MiscCostsTotal").val(roundNumber((msg.misc_C) + parseFloat(msg.misc_I), 2));

                $("#OtherFeeCustomerPays").val(roundNumber(msg.other_C, 2));
                $("#OtherCosts_InsurancePays").text(roundNumber(msg.other_I, 2));
                c = c + msg.other_C;
                i = i + msg.other_I;

                $("#NumDaysRental").text(msg.Days);
                $("#NumKMDriven").text(msg.Kilometers);

                
                c = c + parseFloat(roundNumber($("#PaymentMethod_CustomerPays").text(),2));

                c = c - parseFloat($("#AlreadyPaidByCustomerAmount").val());
                i = i - parseFloat($("#AlreadyPaidByInsuranceAmount").val());

                //totals

                $("#InvoiceAmountCustomer").val(roundNumber(c, 2)); //roundNumber(parseFloat($("#PriceSplitCustomerPays").val()) + parseFloat($("#OtherFeeCustomerPays").val()) + parseFloat($("#SuperCDWCustomerPays").val()) + parseFloat($("#MiscCostsCustomerPays").val()) + parseFloat($("#RAICustomerPays").val()) + parseFloat($("#RefuellingCustomerPays").val()) + parseFloat($("#OneWayCustomerPays").val()) + parseFloat($("#VRFCustomerPays").val()) + parseFloat($("#ReturnCustomerPays").val()) + parseFloat($("#DeliveryCustomerPays").val()) + parseFloat($("#VATCustomerPays").val()) + parseFloat($("#AirportFeeCustomerPays").val()) + parseFloat($("#PaymentMethod_CustomerPays").text()) - parseFloat($("#AlreadyPaidByCustomerAmount").val()), 2));
                $("#InvoiceAmountInsurance").val(roundNumber(i, 2)); //roundNumber(parseFloat($("#PriceSplit_InsurancePays").text()) + parseFloat($("#OtherCosts_InsurancePays").text()) + parseFloat($("#SuperCDW_InsurancePays").text()) + parseFloat($("#MiscCosts_InsurancePays").text()) + parseFloat($("#RAI_InsurancePays").text()) + parseFloat($("#RefuellingFee_InsurancePays").text()) + parseFloat($("#VATSplit_InsurancePays").text()) + parseFloat($("#AirportFee_InsurancePays").text()) + parseFloat($("#VRFFee_InsurancePays").text()) + parseFloat($("#OneWayFee_InsurancePays").text()) + parseFloat($("#ReturnFee_InsurancePays").text()) + parseFloat($("#DeliveryFee_InsurancePays").text()) - parseFloat($("#AlreadyPaidByInsuranceAmount").val()), 2));

                var tot = parseFloat(parseFloat($("#InvoiceAmountCustomer").val()) + parseFloat($("#InvoiceAmountInsurance").val()));
                $("#GrandTotal").text(roundNumber(tot, 2));

                //$("#InvoiceAmountInsurance").autoNumericSet($("#InvoiceAmountInsurance").val());

            },
            error: function (msg) {
                //alert("You must enter a number for the system to calculate.");
            }
        });
    }



</script>