﻿select:focus { 
    width: auto; 
    position: relative; 
} 


body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #F2F2F2;
    height: 100%;
    margin: 0px;
}

H2
{
  margin-bottom: 8px;  
}

H4
{
  margin-bottom: 6px;  
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
    width: 500px;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 50px;
}

img
{
    border: 0px;
}

.editor-label 
{
    clear: both;
    margin: 1em 0 3px 0;   
    float: left;
    width: 200px;          
}

.editor-field 
{
    margin:0.5em 0 0 0;    
    float: left;
    width: 200px;
}

.editor-field-wide 
{
    margin:0.5em 0 0 0;    
    float: left;
    width: 350px;
}
.horizontal-editor-label
{
    clear: both;
    margin: 1em 0 3px 0;   
    float: left;
    min-width: 100px;
    max-width: 120px;    
}

.errorText
{
    color: #FF0000;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
    margin: 20px;
}

.fieldsetTab
{
    height: 350px;
    left: -15px;
}

.fieldsetTabContent
{    
    padding: 13px 0px 13px 15px ! important;
}

Table Tr Td.fieldsetTabContentInput Input
{
    float:right;
    margin: 6px 83px 0 0; 
    width:143px;
}

Table Tr Td.fieldsetTabLabel label
{
    margin: 1em 0 3px 0;           
}

.splitCost-editor-label
{
    width: auto;
}

.splitCost-editor-field
{
    width: 365px;
}

.invoiceCalc-editor-field
{
    /*width: 176px;*/
    text-align: right;
}

.invoiceCalc-editor-field input
{
    width: 80px;
}

.invoiceCalc-top-editor-field
{
    text-align: right;
    width: 350px;
}

.invoiceCalc-top-editor-field select
{    
    width: 340px;
}

.invoiceCalc-top-editor-field input
{    
    width: 336px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*--------------- Background Styling ----------------*/

#container
{
    width: 100%;
    height: 100%;    
    text-align: center;    
}

#content {	
	min-width: 1000px;
	max-width: 1300px;
	height: 100%;
	background-color: #fff;	
	margin: 5px auto 5px;
	text-align:left;	
}

.altRow
{
    background-color: #F7F7F7;    
}

.altRow td
{
    padding-top: 3px;
    padding-bottom: 5px;
}

.altRow th
{
    padding-top: 5px;
    padding-bottom: 5px;
}

/*--------------- Header Styling ----------------*/

#top {
	height: 5px;
	background-color: #06B7E8;
}

#header {
	height: 70px;
	background-image: url('Images/bg_header.png');
	color: #fff;	
	width: 100%;    
    text-align: center;
}

#logo {
	width: 193px;
	padding-top: 18px;
	float: left;
	letter-spacing: 0.1em;	
}

#vline {
	width: 4px;
	padding-top: 10px;
	float: left;
	margin-right: 10px;
}

#title {
	font-size: 1.4em;
	color: #fff;	
	letter-spacing: 0.1em;
	float: left;
	padding-top: 35px;	    
}

/*--------------- Header Menu Styling ----------------*/

#menuContainer
{
    width: auto;
    position: relative;
    margin-left: 200px;      	    
}

#dynamicHeaderItems, #fixedHeaderItems
{
    position: absolute;  
	width: 100%;			
	left: 0px; /*--- Required for IE 7 ---*/
}

#menu
{    	
	padding-top: 20px;
	width: 505px;
	margin: 0 auto;
	text-align:left;	  
}

#rhsHeader
{
	position: absolute; 
	top: 10px; 
	right: 0px;
	height: 60px;
	width: 400px;			
}

#rhsContainer
{
    clear: both;
    position: relative;
    height: 100%;
    width: 100%;    
}

#loginDisplay
{
    position: absolute; 
	top: 4px;
	right: 8px;
}

#maintenanceLinkBackground
{
	position: absolute; 
	bottom: 0px;
	right: 0px;
	padding: 6px 12px;
	background-color: #000;
	font-size: 90%;
}

#maintenanceLinkBackground a
{
    color: #fff;
    text-decoration: none;
}

#maintenanceLinkBackground a:hover
{    
    text-decoration: underline;
}

#search
{    
    float:inherit;    
}

#search ul li input
{    
    height: 29px;
    width: 220px;
    padding: 0 5px 0 5px;
    vertical-align: top; /*--- Hack to ensure textbox is correctly displayed in IE ---*/
}

#search ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#search ul li 
{ 
    display: inline; 
}

#newRegistration
{
    float: left;
    margin-left: 25px;    
}

#searchTag
{    
    clear: both;
    padding-top: 3px;
    font-size: 85%;
    font-style: italic; 
    font-weight:bold;  
}

/*--------------- Page Message Styling ----------------*/

.message
{
    width: 90%;
    margin: 0 auto;
    border: 3px solid #33CC33;
    background-color: #CCFF99;
    text-align: center;
    padding: 5px;
    min-height: 20px;
}

/*------------ Clickable Table Row Styling ----------*/
table.selectableGrid {
    border-collapse: collapse;   
}
.selectableGrid tr {    
    border-top: 1px solid #fff;
}
.selectableGrid tr.selectableGridItem:hover
{
    background-color: #C0C0C0;
}
.selectableGrid td {
    padding: 3px 5px;
}
.selectableGrid tr.selectableGridItem td:hover {
    cursor: pointer;
}

/*--------------- Footer Styling ----------------*/

#footer
{
    clear: both;
    margin: 5px 15px 5px 5px;
    text-align: right;
}

/*--------------- Custom JQuery Control Styling ----------------*/
.lineItemAmountLabel
{
    cursor: default;
}

.lineItemAmountLabel:Hover
{
    cursor: pointer;
}

.disabledAmountLabel
{
    color: #ccc;
}