﻿/*--------------- Main Body Styling ----------------*/

#main
{
    margin: 0;
}

#mainMaintenance
{
    margin: 5px 5px 5px 5px;
}

/*--------------- Maintenance Menu Styling ----------------*/

#maintenanceMenuContainer
{
    width: 100%;
    background-color: #000;
    height: 35px;
    color: #ccc;    
    text-align: center;
}

#maintenanceMenuContainer ul
{
    margin: 0;
    padding: 10px 0px 0px 0px;    
    list-style-type: none;                   
}

#maintenanceMenuContainer ul li
{
    display: inline;   
    margin: 0 0;
    padding: 10px 15px;
}

#maintenanceMenuContainer ul li a
{
    color: #ccc;    
    text-decoration: none;
}

#maintenanceMenuContainer ul li a:hover
{
    text-decoration: none;
}

.maintenanceMenuItem
{
    background-color: #000;    
}

.maintenanceMenuItem:hover
{    
    background-color: #2A2A2A;
    cursor: pointer;
}

.logOffButton
{
    color: #666; 
    text-decoration: none;   
    font-weight: bold;
}

.logOffButton:hover
{    
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

/*--------------- Maintenance Form Styling ----------------*/
#saveButton
{
    margin-top: 5px;
}

#innerDiv
{    
    margin: 0 auto;
    text-align: left;
    width: auto;
    display: inline-block;
}

#outerDiv
{
    width:100%;
    text-align: center;
}

.deleteButtonCell
{
    text-align:right;    
}