﻿/*--------------- Main Body Styling ----------------*/

#main
{
    margin: 5px 5px 5px 5px;
}

/*------------ Reservation Page ----------------*/
.reservationNotes
{    
     
}

.reservationNotes textarea
{    
    position: relative;
     left: -180px;     
}

#summaryHeader
{
    float: left;    
}

#addNewReservationDetail
{
    float: right;
    margin-top: 14px;
    margin-right: 60px;
}

#saveReservationSection
{
    float: right;
    margin-right: 60px;
}

#reservationDetailSummary
{
    clear: both;
}

#reservationDetailHelpText
{
    font-style: italic;
    font-size: 90%;
}

#detailSection
{
    clear: both;
    position: relative;
    min-height: 410px;
}

#invoiceDetail
{    
    position: absolute;
    top: -40px;
    right: 3px;
    width: 100%;    
    background-color: #fff;
    display: none;
    min-height: 545px;
}

#innerInvoiceDetail
{
    border: 3px solid #333333;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 545px;
    background-color: #fff;        
}

#ajaxMessages
{
    text-align: center;
    width: 100%;    
    margin: 20px;    
}

#loadingText span
{    
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}

/*------------ Invoice Page ----------------*/
fieldset.invoiceFieldset
{       
    width: 250px;
    padding: 0;   
}

fieldset.invoiceFieldset .editor-label
{   
    margin: 0;
    width: 140px;
}

fieldset.invoiceFieldset .editor-field
{   
    width: 100px;
}

fieldset.invoiceFieldset .editor-field input
{   
    width: 98%;
}

fieldset.invoiceFieldset table tbody tr td
{           
    padding: 1px 16px;   
}

fieldset.invoiceHeaderFieldset
{       
    width: auto;
    padding: 0;    
}

fieldset.invoiceHeaderFieldset .editor-label
{   
    margin: 0;
    width: 110px;
}

fieldset.invoiceHeaderFieldset .editor-field
{   
    width: 140px;
}

fieldset.invoiceHeaderFieldset .editor-field input
{   
    width: 98%;
}
fieldset.invoiceHeaderFieldset table tbody tr td
{           
    padding: 1px 16px;   
}

.invoiceGridTextBox
{
    width: 58px;
}

.invoiceGridRowHeader
{
    width: 58px;
    text-align: center;
}

.invoiceTypeHeader
{
    height: 30px;
    text-decoration: underline;                
}

.gridrow_alternate
{
    background-color: #fff;
    height: 30px;
}

.gridrow
{
    background-color: #f1f1f1;
    height: 30px;
}

thead { height:50px; text-align:left; }
thead td { text-align:left; }
.gridhead { height:50px; text-align:left; }

.grid { width: 100%; text-align:left; }

.SBDisabledText
{
    background-color: #f1f1f1;
    width:60px;
    color:Gray;
}

.SBText
{
    width:60px;
}

.SBDisabledText100
{
    background-color: #f1f1f1;
    width:100px;
    color:Gray;
}


.text-align-center
{
    text-align:center;
}