﻿@model IEnumerable<avis.sbair.Entities.audit>

@{
    ViewBag.Title = "Audit Records:" + ViewBag.RA;
}

<h2>Audit Records</h2>

<p>
    Status change audit trail for rental with RA Number: @ViewBag.RA
</p>
<table>
    <tr>
        <th style="text-align:left;">
            Time
        </th>
        <th style="text-align:left;">
            Status
        </th>
        <th style="text-align:left;">
            Comments
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="width: 200px;">
            @Html.DisplayFor(modelItem => item.TimeChanged)
        </td>
        <td style="width: 200px;">
            @{ avis.sbair.SBAIR3Context db = new avis.sbair.SBAIR3Context();
}
@db.Status.Where(s=>s.ID == item.Status_ID).First().StatusText
        </td>
        <td style="width: 400px;">
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
    </tr>
}

</table>
