﻿@model avis.sbair.Entities.SplitBilling

@{
    ViewBag.Title = "Edit";
    List<string> CustomerInvoiceHistoric = (List<string>) ViewBag.CustomerInvoiceHistoric;
    List<string> InsuranceInvoiceHistoric = (List<string>)ViewBag.InsuranceInvoiceHistoric;

}

<script type="text/javascript">

    $(function () {
        $("#tabs").tabs();
        $("#checkInDateDate").datepicker({ dateFormat: 'dd.mm.yy' });
        //$("#saveBtn").button();
        $("#Invoices").button();

    });

</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@if(TempData["Updated"] != null)
{
 
    <script type="text/javascript">
//        if (confirm("Kom ihåg att korrigera motsvarande belopp/ändring i ACMEE. Vill du gå vidare direkt till ACMEE, välj OK. Har du redan korrigerat i ACMEE, välj Cancel.")) {
//            window.open('http://webportal1/AcmeeScandinavia/SE/1/Home/Details?raNumber=@Model.RentalAgreementNumber', '', '', '');
//        }
        alert('Dina ändringar är sparade i SBAIR och ACMEE kommer att uppdateras inom ett dygn.');
    
    </script>
       
}
@if(ViewBag.Deleted != null && ViewBag.Deleted == "true")
{
 
    <script type="text/javascript">

        alert('Korrigeringen är borttagen');
    
    </script>
       
}

@if (ViewBag.NoChanges != null && ViewBag.NoChanges == "true")
{
 
    <script type="text/javascript">

        alert('No adjustment has been made - the record cannot be saved');
    
    </script>
       
}

 @{
                          
     if (Request.RawUrl.ToLower().Contains("/listing/edit") && (Request.RawUrl.ToLower().Contains("type=pending") || Request.RawUrl.ToLower().Contains("type=closed") || Request.RawUrl.ToLower().Contains("type=waiting")))
                            {
                                     <input type="hidden" id="closedRentalId" value="@ViewBag.closedRentalId" />
                            <p>&nbsp;View historic split billing records for this RA: @Html.DropDownList("cboHistoric", (IEnumerable<SelectListItem>)ViewBag.historic) @if(ViewBag.allowRevert == true){ <button id="btnRevert" style="background-color:Red; color:White;" onclick="if(confirm('Vill du ta bort denna korrigering?')){ window.location.href='@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"])listing/delete/' + $('#cboHistoric').val(); } else {return false; }" value="Delete">Delete</button>}</p> 
                            }
                     }
@using (Html.BeginForm("Edit", "Listing", FormMethod.Post, new { @id = "mainForm" }))
{                  
       if (ViewBag.Voidable == "True")
                     {
                      <button type="submit" id="btVoid" name="btVoid" value="btVoid" style="background-color:Red; color:White;">Void Contract</button>
                     }
                     

                     if (ViewBag.CSA != null && ViewBag.CSA == true)
                     {
                         
                     <label style='color:red;'><strong>This rental has been adjusted in CSA, please contact <a href="mailto:customerservice@avis.se">customerservice@avis.se</a></strong></label>
                         
                     }
                     
                     
                     if (ViewBag.WizardLocked != null && ViewBag.WizardLocked == true)
                     {
                         
                     <label style='color:red;'><strong>@if (ViewBag.HideFirstLockText != true)
                                                       { <span>This rental is not live in Wizard, please use /FOR RALOAD to reload the rental before making any adjustments.</span> }@ViewBag.WizardMessage. Contact <a href="mailto:franchise@avis.se">franchise@avis.se</a> for more information</strong></label>
                         
                     }
                    
                     

     if (Request["user"] == "jenny")
     {

         if (ViewBag.WizardUpdateError != null)
                     {
                         
                     <label style='color:red;'><strong>Wizard did not update for this rental: @ViewBag.WizardUpdateError</strong></label><br />
                         
                     }
         
                             <input type="checkbox" id="chkManualInvoice" name="chkManualInvoice" @if (Model.ManualInvoice.HasValue && Model.ManualInvoice.Value == true)
                                                                                                  { @Html.Raw("checked") } /><label>Manual Invoice</label>
    <div style="border: 1px solid red; float:right; text-align:right;">
                                 <input type="checkbox" id="chkOverrideLock" name="chkOverrideLock" @if (Model.OverrideWizardLock.HasValue && Model.OverrideWizardLock.Value == true)
                                                                                                    { @Html.Raw("checked") } /><label>Ok, there has been adjustments in Wizard but the rental is now ok to modify by the stations anyway. &nbsp;</label><button style="background-color:Red; color:White;" id="btnOkToModify">Update</button>
                                                                                                      <br />
                                                                                                      Update timestamp to (dd.mm.yyyy hh:mm:ss) : <input type="text" id="txtTimestamp" />&nbsp;<button style="background-color:Red; color:White;" id="btnUpdateTimestamp">Update</button>
                                                                                                      </div>

     }
    
     @Html.Hidden("thisUrl",Request.Url.ToString())

    <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0">
        
        <tr>
            <td style="vertical-align: top; width: 40%;"><br />
                <fieldset>
                    <legend>Rental Details</legend>
                    <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                              <input type="hidden" id="ID" name="ID" value="@Model.RentalAgreementNumber" />
                             <input type="hidden" id="tp" name="tp" value="@ViewBag.tp" />
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.RentalCheckoutDateTime, "Check out")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("checkOutDateDate", this.Model.RentalCheckoutDateTime.Value.ToShortDateString(), new { @class = "SBDisabledText100", style = "width:70px;", @readonly = "readonly" })
                                    &nbsp;@@&nbsp;
                                    @Html.TextBox("checkOutDateTime", this.Model.RentalCheckoutDateTime.Value.ToShortTimeString(), new { @class = "SBDisabledText100", style = "width:40px;", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.RentalCheckoutDateTime)
                                </div>
                                
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.KMCheckout, "Kilometers at Check out")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.KMCheckout, new { style = "width:70px;", @class = "SBDisabledText", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.KMCheckout)
                                </div>

                                <div class="editor-label">
                                    @Html.ActionLink("Status", "index", "audit", new { id = Model.RentalAgreementNumber }, new { target = "_blank" })
                                    &nbsp;<img src="../../Content/Images/Question_mark.png" title="Click 'Status' link to view the status history and auditing information for this rental." alt="Click 'Status' link to view the status history and auditing information for this rental." />
                                </div>
                                <div class="editor-field">
                                    <!--<label id="status_text">@ViewBag.Status</label>-->
                                    @Html.TextBox("status_text", (object)ViewBag.Status, new { @class = "SBDisabledText100", @readonly = "readonly" })
                                </div>

                                <div class="editor-label">
                                    @{if (ViewBag.CustomerInvoice != null)
                                      { 
                                          <a href="@ViewBag.CustomerInvoice" target="_blank">Customer Invoice Number</a>
                                      }
                                      else
                                      {
                                          @Html.LabelFor(model => model.RentalRenterInvoiceNumber, "Customer Invoice Number")
                                      }
                                    }
                                    @{if (ViewBag.CustomerCorrectionInvoice != null)
                                      { 
                                        <br />
                                        <a href="@ViewBag.CustomerCorrectionInvoice" target="_blank">Customer Credit Invoice</a>
                                      }
                                      
                                    }
                                </div>
                                

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.RentalRenterInvoiceNumber, new { @class = "SBDisabledText100", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.RentalRenterInvoiceNumber)
                                </div>
                                            @if (CustomerInvoiceHistoric.Any())
                                            {
                                                var ctr = 1;
                                                <div class="editor-label">
                                                    Historic Customer Invoices
                                                </div>
                                                <div class="editor-field">
                                                    @foreach (var i in CustomerInvoiceHistoric)
                                                    {
                                                        <a href="@i" target="_blank">View Invoice @ctr</a><br/>
                                                        ctr += 1;
                                                    }
                                                </div>
                                            }

                                <div class="editor-label">
                                    @{if (ViewBag.InsuranceInvoice != null)
                                      { 
                                          <a href="@ViewBag.InsuranceInvoice" target="_blank">Insurance Invoice Number</a>
                                      }
                                      else
                                      {
                                          @Html.LabelFor(model => model.RentalInsuranceInvoiceNumber, "Insurance Invoice Number")
                                      }
                                    }
                                    @{if (ViewBag.InsuranceCorrectionInvoice != null)
                                      { 
                                        <br />
                                        <a href="@ViewBag.InsuranceCorrectionInvoice" target="_blank">Insurance Credit Invoice</a>
                                      }
                                      
                                    }
                                </div>
                               

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.RentalInsuranceInvoiceNumber, new { @class = "SBDisabledText100", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.RentalInsuranceInvoiceNumber)
                                </div>
                                
                                 
                                
                                @if (InsuranceInvoiceHistoric.Any())
                                {
                                    var ctr = 1;
                                                <div class="editor-label">
                                                    Historic Insurance Invoices
                                                </div>
                                                <div class="editor-field">
                                                    @foreach (var i in InsuranceInvoiceHistoric)
                                                    {
                                                        <a href="@i" target="_blank">View Invoice @ctr</a><br/>
                                                        ctr += 1;
                                                    }
                                                </div>
                                }

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.RentalVehicleLicensePlateNumber, "Vehicle Registraton")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.RentalVehicleLicensePlateNumber, new { @class = "SBDisabledText100", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.RentalVehicleLicensePlateNumber)
                                </div>


                                <div class="editor-label">
                                    @Html.LabelFor(model => model.RentalVehicleClassChargedCode, "Car Group")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.RentalVehicleClassChargedCode, new { @class = "SBDisabledText100", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.RentalVehicleClassChargedCode)
                                </div>
                               

                                <div class="editor-label">
                                    @Html.Label("Country")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("AppCountry", "Sweden", new { @class = "SBDisabledText100", @readonly = "readonly" })
                                    
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.RentalAgreementNumber, "RA Number")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.RentalAgreementNumber, new { @class = "SBDisabledText100", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.RentalAgreementNumber)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.RentalDamageNumber, "Damage Number (CCI Field)")
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.RentalDamageNumber, new { lhs = "true", @compare = "true" })
                                    @Html.ValidationMessageFor(model => model.RentalDamageNumber)
                                </div>
                                
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Remarks, "Comment")
                                    <br />
                                    OBS! Texten i denna rutan visas på alla fakturor.
                                </div>
                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.Remarks, new { @compare = "true" })
                                    @Html.ValidationMessageFor(model => model.Remarks)
                                </div>

                                @if (ViewBag.Status != "Open")
                                {
                                <div class="editor-label">
                                    Comments about the new change
                                </div>
                                <div class="editor-field">
                                    @Html.TextArea("AVISComments", new { @class = "", @compare = "true" })
                                    
                                </div>
                                }

                                

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="tabs" class="fieldsetTab">
                                    <ul>
                                        <li><a href="#tabs-1">Customer Details</a></li>
                                        <li><a href="#tabs-2">Insurance Company</a></li>
                                        <li><a href="#tabs-3" id="InvoicesTab">Invoices</a></li>
                                    </ul>
                                    <div id="tabs-1" class="fieldsetTabContent">
                                        <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="fieldsetTabLabel">
                                                    @Html.LabelFor(model => model.RentalCustomerName, "Customer Name")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalCustomerName, new { @class = "", lhs = "true", @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalCustomerName)
                                                </td>
                                            </tr>
                                            <tr>
                                            <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalCompanyName, "Company")</td><td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalCompanyName, new { @class = "", lhs = "true", @compare = "true" })
</td>
</tr>
                                            <tr>
                                                <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalRenterAddress1Text, "Address Line 1")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalRenterAddress1Text, new { @class = "", lhs = "true", c_address = "true", @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalRenterAddress1Text)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalRenterAddress2Text, "Address Line 2")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalRenterAddress2Text, new { @class = "", lhs = "true", c_address = "true", @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalRenterAddress2Text)
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalRenterAddressCityText, "City")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalRenterAddressCityText, new { @class = "", lhs = "true", c_address = "true", @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalRenterAddressCityText)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalACTONumber, "Customer Reg Number")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalACTONumber, new { @class = "", lhs = "true", @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalACTONumber)
                                                </td>
                                            </tr>

                                           <tr>
                                                <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalRenterCreditClubCode, "Payment Method")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalRenterCreditClubCode, new { @maxlength = "2", av = "true", @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalRenterCreditClubCode)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalRenterCreditCardNumber, "Card/Account Number")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalRenterCreditCardNumber, new { @class = "",/* av = "true",*/ @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalRenterCreditCardNumber)
                                                </td>
                                            </tr>
                                            <tr><td class="fieldsetTabLabel">&nbsp;</td><td style="text-align:right;"><br /><button type="button" id="btnCustomerGetAVAddress">Get AV Address</button></td></tr>
                                        </table>
                                    </div>



                                    <div id="tabs-2" class="fieldsetTabContent">
                                    <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
<td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalInsuranceBillingName, "Insurance Company")</td><td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalInsuranceBillingName, new { @class = "SBDisabledText", @readonly = "readonly", @compare = "true" })
</td>
</tr>
<tr>
<td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalLocalContactText, "Insurance Company Contact")
&nbsp;<img src="../../Content/Images/Question_mark.png" alt="The local contact for the insurance company." title="The local contact for the insurance company." />
</td>
<td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalLocalContactText, new { @compare = "true" })</td>
</tr>

 <tr>
<td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalInsuranceBillingAddress1, "Insurance Address1")</td><td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalInsuranceBillingAddress1, new { @class = "SBDisabledText", @readonly = "readonly", @compare = "true" })

</td>
</tr>
 <tr>
<td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalInsuranceBillingAddress2, "Insurance Address2")</td><td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalInsuranceBillingAddress2, new { @class = "SBDisabledText", @readonly = "readonly", @compare = "true" })
</td>
</tr>
 <tr>
<td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalInsuranceBillingAddress3, "Insurance Address3")</td><td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalInsuranceBillingAddress3, new { @class = "SBDisabledText", @readonly = "readonly", @compare = "true" })
</td>
</tr>




 <tr>
                                                <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalInsuranceCreditClubCode, "Payment Method")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalInsuranceCreditClubCode, new {@readonly="readonly", @maxlength = "2", /*av = "true",*/ @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalInsuranceCreditClubCode)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="fieldsetTabLabel">@Html.LabelFor(model => model.RentalInsuranceCreditCardNumber, "Card/Account Number")
                                                </td>
                                                <td class="fieldsetTabContentInput">@Html.TextBoxFor(model => model.RentalInsuranceCreditCardNumber, new { @class = "", av = "true", @compare = "true" })
                                                    @Html.ValidationMessageFor(model => model.RentalInsuranceCreditCardNumber)
                                                </td>
                                            </tr>

                                            <tr><td class="fieldsetTabLabel">&nbsp;</td><td style="text-align:right;"><br /><button type="button" id="btnGetAVAddress">Get AV Address</button></td></tr>
</table>
                               </div>



                               <div id="tabs-3" class="fieldsetTabContent">
                                        


                                        @Html.Raw(ViewBag.InvoiceList)


                                    
                                </div>
                            </td>
                        </tr>
                        
                    </table>

                </fieldset>
                <br /><br />
            </td>
            <td style="vertical-align: top; width:60%">
                @Html.Partial("_SplitBilling")
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left;">
                <p>
                   @Html.ValidationSummary()
                </p>
            </td>
        </tr>
       
    </table>
    
    <div id="commentsModal" title="Comments" style="text-align:center; display:none;">
    <h2>Please enter your comments regarding this change</h2><br />
    <strong>NOTE: You changes will not be saved until you click 'Submit' below</strong><br /><br /><textarea rows="5" cols="40" id="AvisCom"></textarea><br /><br /><input style="width:150px; background-color:Green; color:White; height:50px;" id="confirmBtn" type="submit"/>
    </div>
}
