﻿@model List<avis.sbair.Interfaces.IRental>

@{
    ViewBag.Title = "Rentals";
}


                

                        


<script type="text/javascript">

    $(document).ready(function () {


        $("#searchTerm").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#SearchButton").click();
            }
        });

        $("form").submit(function (event) {
            $("#SearchButton").click();
            return false;
        });

        $("#SearchButton").click(function (e) {
            var currentSearch = getQueryVariable('searchTerm');
            var url = document.URL;
            if (currentSearch != 0) {
                url = url.replace("&searchTerm=" + currentSearch, "");
            }
            if (currentSearch != $("#searchTerm").val()) {
                currentSearch = $("#searchTerm").val();
            }

            var selectedTab = getQueryVariable('tab');
            url2 = url.split('?')[0] + '?tab=' + selectedTab;

            location.href = url2 + "&searchTerm=" + currentSearch;
            return false;
        });

        
    }); 


    $(function () {
        // $("#tabs").tabs();
        var selectedTab = getQueryVariable('tab');
        $('#tabs').tabs({ selected: selectedTab, select: function (event, ui) {
            var url = document.URL.split('?')[0] + '?tab=' + ui.index;
            if (url) {
                //alert(url);
                location.href = url;
                return false;
            }
            return true;
        }
        });

    });

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }

        return 0;
    } 

</script>

<h2>@ViewBag.Message</h2>





<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Rental check in</a></li>
        <li><a href="#tabs-2">Rental waiting for invoicing</a></li>
		<li><a href="#tabs-3">Rental error</a></li>
        <li><a href="#tabs-4">Rental invoiced</a></li>
        <li><a href="#tabs-5">Insurance company list</a></li>		
        <li><a href="#tabs-6">Rate Codes</a></li>
        <li><a href="#tabs-7">Search all rentals</a></li>
	</ul>

    <table style="background-color: #f1f1f1; text-align:center; width:100%; height:60px;"><tr><td align="center" style="text-align:center;">
    
     @{if (Request["tab"] != "5")
       {
       
                                
                                <div id="search">
                                @using (Html.BeginForm("Search", "Listing", FormMethod.Post))
                                {
                                    <input type="hidden" id="tab" name="tab" value="@ViewBag.tab" />
                                    <label id="searchTag">
                                    @{ 
                                    if (Request["tab"] == "4")
                                    {
                                            @Html.Raw("Search for insurance companies")
                                    }
                                    else
                                    {
                                            @Html.Raw("Searches RA#, Check In Location, and Vehicle Registration")
                                    }
                                     }
                                     </label>            
                                        <ul> 
                                            <li>@Html.TextBox("searchTerm", Request["searchTerm"], new { @class = "text ui-widget-content ui-corner-all" })
                                            </li>                                           
                                            <li>
                                                <button type="submit" class="navigationButton" id="SearchButton">Search</button>
                                            </li>                  
                                        </ul>                    
                                }
                                
                            </div>                            
                            
       }
     }                  
                           
                           
                           </td></tr></table>
	<div id="tabs-1">
   
          

           @{ if (Request["tab"] == null || Request["tab"] == "0")
              {
                  var grid2 = new WebGrid(@Model, rowsPerPage: 50, defaultSort: "RentalCheckinDateTime desc");
        
                  @grid2.Pager(numericLinksCount: 20)

        @grid2.GetHtml(numericLinksCount: 20, tableStyle: "grid", headerStyle: "gridhead", rowStyle: "gridrow", alternatingRowStyle: "gridrow_alternate",
                                      columns: grid2.Columns(grid2.Column(columnName: "RA Number", format: (item) => (Html.ActionLink(((string)item.RentalAgreementNumber), "edit", new { id = item.RentalAgreementNumber, type = "open", @return = Request.Url.PathAndQuery }))),
                             grid2.Column("RentalCheckoutDateTime", "Check Out Date"),
                             grid2.Column("RentalCheckoutLocationText", "Check Out Location"),
                             grid2.Column("RentalCustomerName", "Renter Name"),
                             grid2.Column("RentalCheckinLocationText", "Check In Location"),
                                      grid2.Column("RentalVehicleClassChargedCode", "Car Group"),
                                                     grid2.Column("RentalVehicleLicensePlateNumber", "Vehicle Registration"), grid2.Column("MVANumber", "MVA Number")
            ));
              }     
    }    

	</div>
	<div id="tabs-2">
           @{if (Request["tab"] == "1")
             {
                 var grid = new WebGrid(@Model, rowsPerPage: 50);
        @grid.Pager(numericLinksCount: 20)
        @grid.GetHtml(numericLinksCount: 20, tableStyle: "grid", headerStyle: "gridhead", rowStyle: "gridrow", alternatingRowStyle: "gridrow_alternate",
                                                                                                         columns: grid.Columns(grid.Column(columnName: "RA Number", format: (item) => (Html.ActionLink(((string)item.RentalAgreementNumber), "edit", new { id = item.RentalId, type = "pending", @return = Request.Url.PathAndQuery }))),
                                                 grid.Column("RentalCheckoutDateTime", "Check Out Date"),
                                   grid.Column("RentalCheckoutLocationText", "Check Out Location"),
                                            grid.Column("RentalCheckinDateTime", "Check In Date"),
                                            grid.Column("RentalCheckinLocationText", "Check In Location"),
                                                     grid.Column("RentalVehicleClassChargedCode", "Car Group"),
                                                     grid.Column("RentalVehicleLicensePlateNumber", "Vehicle Registration")
                     ));
             }
    }		
	</div>

    <div id="tabs-3">
           @{if (Request["tab"] == "2")
             {
                 var grid3 = new WebGrid(@Model, rowsPerPage: 50);
        @grid3.Pager(numericLinksCount: 20)
        @grid3.GetHtml(numericLinksCount: 20, tableStyle: "grid", headerStyle: "gridhead", rowStyle: "gridrow", alternatingRowStyle: "gridrow_alternate",
                                                                                                                      columns: grid3.Columns(grid3.Column(columnName: "RA Number", format: (item) => (Html.ActionLink(((string)item.RentalAgreementNumber), "edit", new { id = item.RentalAgreementNumber, type = "exception", @return = Request.Url.PathAndQuery }))),
                                                                            grid3.Column("RentalCheckoutDateTime", "Check Out Date"),
                                                     grid3.Column("RentalCheckoutLocationText", "Check Out Location"),
                                                                   grid3.Column("RentalCheckinDateTime", "Check In Date"),
                                                     grid3.Column("RentalCheckinLocationText", "Check In Location"),
                                                              grid3.Column("RentalVehicleClassChargedCode", "Car Group"),
                                                              grid3.Column("RentalVehicleLicensePlateNumber", "Vehicle Registration")
                     ));
             }
    }		
	</div>

    <div id="tabs-4">
           @{if (Request["tab"] == "3")
             {
                 var grid3 = new WebGrid(@Model, rowsPerPage: 50);
        @grid3.Pager(numericLinksCount: 20)
        @grid3.GetHtml(numericLinksCount: 20, tableStyle: "grid", headerStyle: "gridhead", rowStyle: "gridrow", alternatingRowStyle: "gridrow_alternate",
                                                                                                                      columns: grid3.Columns(grid3.Column(columnName: "RA Number", format: (item) => (Html.ActionLink(((string)item.RentalAgreementNumber), "edit", new { id = item.RentalId, type = "closed", @return = Request.Url.PathAndQuery }))),
                                                                            grid3.Column("RentalCheckoutDateTime", "Check Out Date"),
                                                     grid3.Column("RentalCheckoutLocationText", "Check Out Location"),
                                                                   grid3.Column("RentalCheckinDateTime", "Check In Date"),
                                                     grid3.Column("RentalCheckinLocationText", "Check In Location"),
                                                              grid3.Column("RentalVehicleClassChargedCode", "Car Group"),
                                                              grid3.Column("RentalVehicleLicensePlateNumber", "Vehicle Registration"),
                                                                   grid3.Column("timestamp", "Saved Date")
                     ));
             }
    }		
	</div>


    <div id="tabs-5">
           @{if (Request["tab"] == "4")
             {
                 var grid5 = new WebGrid(ViewBag.InsuranceCompanies, rowsPerPage: 50);
        @grid5.Pager(numericLinksCount: 20)
        @grid5.GetHtml(numericLinksCount: 20, tableStyle: "grid", headerStyle: "gridhead", rowStyle: "gridrow", alternatingRowStyle: "gridrow_alternate",
                                                       columns: grid5.Columns(grid5.Column("Name", "Name"),
                                                                            grid5.Column("Address1", "Address1"),
                                                                   grid5.Column("Address2", "Address2"),
                                                                                               grid5.Column("Address3", "Address3"),
                                                              grid5.Column("AwdNumber", "AwdNumber"),
                                                              grid5.Column("RateCode", "RateCode"), grid5.Column("Account", "Account"), grid5.Column("WizardNumber", "WizardNumber"), grid5.Column("PhoneNumber", "PhoneNumber"), grid5.Column("e_billingindicator", "E-billing indicator"), grid5.Column("emailaddress", "E-mail address")
                     ));
             }
    }		
	</div>

     <div id="tabs-6">
           @{if (Request["tab"] == "5")
             {
                 var grid6 = new WebGrid(ViewBag.RateCodes, rowsPerPage: 50);
        @grid6.Pager(numericLinksCount: 20)
        @grid6.GetHtml(numericLinksCount: 20, tableStyle: "grid", headerStyle: "gridhead", rowStyle: "gridrow", alternatingRowStyle: "gridrow_alternate",
        columns: grid6.Columns(grid6.Column("RateCode", "Rate Code", style: "text-align-center"),
                                                               grid6.Column("Description", "Description") 
                                                               ));
             }
    }		
	</div>

	<div id="tabs-7">
           @{if (Request["tab"] == "6")
             {
                 var grid = new WebGrid(@Model, rowsPerPage: 50);
        @grid.Pager(numericLinksCount: 20)
        @grid.GetHtml(numericLinksCount: 20, tableStyle: "grid", headerStyle: "gridhead", rowStyle: "gridrow", alternatingRowStyle: "gridrow_alternate",
        columns: grid.Columns(grid.Column(columnName: "RA Number", format: (item) => (Html.ActionLink(((string)item.RentalAgreementNumber), "edit", new { id = item.type == "Invoiced" || item.type =="Waiting" ? item.RentalId : item.RentalAgreementNumber, type = item.type == "Invoiced" ? "closed" : item.type, @return = Request.Url.PathAndQuery }))),
                                                 grid.Column("RentalCheckoutDateTime", "Check Out Date"),
                                   grid.Column("RentalCheckoutLocationText", "Check Out Location"),
                                                          grid.Column("RentalCustomerName", "Renter Name"),
                                            grid.Column("RentalCheckinLocationText", "Check In Location"),
                                                     grid.Column("RentalVehicleClassChargedCode", "Car Group"),
                                                                   grid.Column("RentalVehicleLicensePlateNumber", "Vehicle Registration"), 
                                                                   grid.Column("MVANumber", "MVA Number"),
                                                                   grid.Column("type", "Status"),
                                                                                 grid.Column("timestamp", "Saved Date")
                     ));
             }
    }		
	</div>
</div>

