﻿@{
    ViewBag.Title = "FAQ";
}

<table style="width:100%; height:600px; border: 1px solid black;">
    <tr>
        <td style="width:20%; text-align:center;">
            <table style="height:600px;">
                <tr>
                    <td style="width:90%; text-align:center;height:40px;">
                        <select id="list1" style="width:90%;">
                            <option value="Enquiry">Enquiry</option>
                            <option value="Customer Complaints">Customer Complaints</option>
                        </select>
                    </td>
       
                </tr>
                <tr>
                    <td style="width:90%; text-align:center;height:40px;">
                        <select id="list2" style="width:90%;">
                            <option value="Wizard">Wizard</option>
                            <option value="Acmee">Acmee</option>
                            <option value="Fines">Fines</option>
                            <option value="Damages">Damages</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width:90%; text-align:center;height:40px;">
                        <select id="list3" style="width:90%;">
                            <option value="Make Adjustments">Make Adjustments</option>
                            <option value="Send Invoice Copy">Send Invoice Copy</option>
                            <option value="Log Case">Log Case</option>
                        </select>
                    </td>
                </tr>
                <tr><td style="width:20%;"></td></tr>
            </table>
        </td>
        
         <td style="border:1px solid black;">
            <div id="displayImg" style="width:100%; text-align:center;">
                <img src="@(System.Configuration.ConfigurationManager.AppSettings["SiteUrl"] + "content/images/make-adjustments.png")"/>
            </div>
            <div id="displayText" style="width:100%; text-align:center;">some test text</div>
        </td>

    </tr>

    

    
    

</table>

<script type="text/javascript">

    $(document).ready(function () {
        $("#displayImg").show();
        $("#displayText").hide();
    });
    
    $("#list3").change(function () {
        if ($(this).val() == 'Make Adjustments') {
            $("#displayImg").slideToggle();
            $("#displayText").slideToggle();
        } 
        else {
            $("#displayImg").hide();
            $("#displayText").show();
        }


    });

</script>