﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body style="text-align:center;">
@using (Html.BeginForm())
{
    <p></p>
    <div>
        User: <input type="text" id="txtUser" name="txtUser" />
        <br />
        Password: <input type="password" id="txtPw" name="txtPW" />
        <br />
        <input type="submit" />
    </div>
}
</body>
</html>
